.div_container_lui_cart{display:grid;grid-template-rows:repeat(var(--bs-rows, 1), 1fr);grid-template-columns:repeat(var(--bs-columns, 12), 1fr);gap:var(--bs-gap,1.5rem);margin:var(--bs-margin, auto);margin:10px auto;}
:root{--bs-columns:12;--bs-gap:24px;}
.ch_cart{background:rgba(0, 0, 0, 0.05);}
.sidebar_layshane_store{margin:unset;width:unset;padding-right:0;display:block;order:0;grid-column:auto / span 3;box-sizing:border-box;padding:10px;}
@media all and (min-width: 1920px),print{
	:root{--gallery-nav-width:440px;--bs-gap:28px;--bs-padding:0 116px;}
}
@media all and (min-width: 768px),print{
	.sidebar_layshane_store{float:left;}
}
.container_cart_lists{padding-top:10px;position:relative;margin-right:unset;width:unset;float:right;grid-column:auto / span 12;margin-top:0;margin-left:0;}
.content_data_boleta,
.content_data_factura{padding:10px;}
.sun_input{display:flex;flex-wrap:wrap;line-height:28px;align-items:center;position:relative;width:100%;}
.input-md{width:100%;height:50px;line-height:28px;padding:10px 1rem;border:2px solid rgba(0, 48, 73, 0.4);border-radius:8px;outline:none;background-color:#f3f3f4;color:#0d0c22;transition:0.3s ease;}
.input-md::placeholder{color:#9e9ea7;}
.input-md:focus,
.input-md:hover{outline:none;border-color:rgba(0, 48, 73, 0.4);background-color:#fff;box-shadow:0 0 0 4px rgb(0 48 73 / 10%);}
.sun_input_a{position:relative;padding:20px 0 0;width:100%;}
.sun_input_a .input-md_a{font-family:inherit;width:100%;border:none;border-bottom:2px solid #9b9b9b;outline:0;font-size:17px;color:#444;padding:7px 0;background:transparent;transition:border-color 0.2s;}
.sun_input_a .input-md_a::placeholder{color:transparent;}
.sun_input_a .input-md_a:placeholder-shown ~ label{font-size:17px;cursor:text;top:20px;}
.sun_input_a label{position:absolute;top:0;display:block;transition:0.2s;font-size:17px;color:#9b9b9b;pointer-events:none;}
.sun_input_a .input-md_a:focus{padding-bottom:6px;font-weight:700;border-width:3px;border-image:linear-gradient(to right, #116399, #38caef);border-image-slice:1;}
.sun_input_a .input-md_a:focus ~ label{position:absolute;top:0;display:block;transition:0.2s;font-size:17px;color:#38caef;font-weight:700;}
/* reset input */
.sty_new_address{display:grid;gap:1em;}
.sun_input_a .input-md_a:required, .sun_input_a .input-md_a:invalid{box-shadow:none;}
.option_order_users_data{display:grid;flex-wrap:wrap;gap:1rem;grid-template-columns:repeat(auto-fit, minmax(min(200px, 100%), 1fr));}
.option_order_data{display:flex;position:relative;user-select:none;width:calc(100%);}
.option_order_data label{background:#FFF;display:flex;width:100%;height:100%;padding:18px;align-self:center;align-items:center;justify-content:center;position:relative;margin:0;border-radius:6px;border:2px solid var(--boton-color);cursor:pointer;transition:all .5s;}
.option_order_data input{display:none;}
.option_order_data input:checked ~ .label_selected_mod{border:2px solid var(--boton-fondo)!important;}
.content_delivery_data,
.content_store_data{transition:all .5s;}
.nodisplay_mode_order{height:0;overflow:hidden;width:0;transition:all .5s;min-height:0;padding:0;}
.button_layshane_green{padding:1.3em 3em;font-size:12px;text-transform:uppercase;letter-spacing:2.5px;font-weight:500;color:#000;background-color:#fff;border:none;border-radius:45px;box-shadow:0px 8px 15px rgba(0, 0, 0, 0.1);transition:all 0.3s ease 0s;cursor:pointer;outline:none;margin:25px auto;white-space:normal;}
.button_layshane_green:hover{background-color:#23c483;box-shadow:0px 15px 20px rgba(46, 229, 157, 0.4);color:#fff;transform:translateY(-7px);}
.button_layshane_green:active{transform:translateY(-1px);}
.ch_title{display:flex;justify-content:space-between;align-items:center;}
.ch_title a,.ch_title div{padding:20px 10px;}
.container_cart_lists{padding:10px;padding-top:0;}
.ch_checkout_title{padding:10px;}
@media all and (max-width: 1050px),print{
	.container_cart_layshane{padding:0;}
	.container_cart_lists,
	.sidebar_layshane_store{grid-column:auto / span 12;}
	.modos_de_pago_container_buttons{flex-wrap:wrap;}
}
/*Addres styles*/
.cart_chos_addrs{display:flex;flex-wrap:wrap;width:100%;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.cart_chos_addrs > *{margin:6px;max-width:100%;padding:5px}
.payment_address:checked + .radio-tile,
.payment_sucursal:checked + .radio-tile{border-color:#2260ff;box-shadow:0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;color:#2260ff;}
.payment_address:checked + .radio-tile:before,
.payment_sucursal:checked + .radio-tile:before{transform:scale(1);opacity:1;background-color:#2260ff;border-color:#2260ff;}
.payment_address:checked + .radio-tile p,
.payment_sucursal:checked + .radio-tile p{color:#2260ff;}
.payment_address:focus + .radio-tile,
.payment_sucursal:focus + .radio-tile{border-color:#2260ff;box-shadow:0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;}
.payment_address:focus + .radio-tile:before,
.payment_sucursal:focus + .radio-tile:before{transform:scale(1);opacity:1;}
.radio-tile{display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;min-height:80px;border-radius:0.5rem;border:2px solid #b5bfd9;background-color:#fff;box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);transition:0.15s ease;cursor:pointer;position:relative;padding:7px;}
.radio-tile:before{content:"";position:absolute;display:block;width:0.75rem;height:0.75rem;border:2px solid #b5bfd9;background-color:#fff;border-radius:50%;top:0.25rem;left:0.25rem;opacity:0;transform:scale(0);transition:0.25s ease;}
.radio-tile:hover{border-color: #2260ff;}
.radio-tile:hover:before{transform:scale(1);opacity:1;}
.radio-tile p{color:#707070;transition:0.375s ease;text-align:center;font-size:13px;}
.payment_address,.payment_sucursal{clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px;}
/*Stylos de los precios*/
.ch_total_price{display:flex;flex-wrap:wrap;flex-direction:column;width:100%;position:relative;background-color:#ffffff9c;padding:30px;align-content:flex-end;}
.div_subs_contn{display:flex;align-items:center;justify-content:flex-end;gap:2em;padding:10px;user-select:none;}
.modos_de_pago_container_buttons{display:flex;margin-top:10px;width:100%;flex-direction:row;gap:1em;}
.lista_modo_pago{width:100%;display:flex;position:relative;margin:5px 0;align-items:center;}
.lista_modo_pago label{display:flex;width:100%;padding:10px;font-size:18px;justify-content:flex-start;align-items:center;cursor:pointer;gap:1rem;border:2px solid #2c8ce9;border-radius:4px;background:rgba(250, 250, 250, 0.78);}
.lista_modo_pago label h6{margin:0;padding:0;}
.lista_modo_pago input:checked + label{border-color:#2260ff;box-shadow:0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;color:#2260ff;}
.lista_modo_pago input{display:none;}
.carrito_null_layshane{display:flex;justify-content:center;align-items:center;flex-wrap:wrap;margin-bottom:30px;background:#ffffff9c;}
.carrito_null_layshane p{padding:30px;}
/*Stylos de los checkbox compra a credido*/
.chechedcaja22{appearance:none;width:20px;height:20px;border:2px solid var(--boton-fondo);border-radius:5px;background-color:transparent;display:inline-block;position:relative;margin-right:10px;cursor:pointer;}
.chechedcaja22:before {content:"";background-color:var(--boton-fondo);display:block;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%) scale(0);width:10px;height:10px;border-radius:3px;transition:all 0.3s ease-in-out;}
.chechedcaja22:checked:before{transform: translate(-50%, -50%) scale(1);}
.chechedcaja22_label{font-size: 18px;cursor:pointer;user-select:none;display:flex;align-items:center;}
.order_for_credid{padding:10px;}
/*Stilos de la tabla de productos*/
.con_layshane_tbles{margin-top:30px;display:block;height:100%;width:100%;color:#252a3b;background-color:#f8f8f8;overflow-x:auto;}
.con_layshane_tbles .container{white-space:nowrap;}
.table{width:100%;max-width:100%;margin-bottom:20px;}
.table{background-color:transparent;}
.table{border-spacing:0;border-collapse:collapse;}
.row--top-20{margin-top:20px;}
.table__th{color:#9eabb4;font-weight:500;font-size:12px;text-transform:uppercase;cursor:pointer;border:0!important;padding:15px 8px!important;text-align:start;}
.table-row{border-bottom:1px solid #e4e9ea;background-color:#fff;}
.table--select-all{width:18px;height:18px;padding:0!important;border-radius:50%;border:2px solid #becad2;}
.table-row__td{padding:12px 8px!important;vertical-align:middle!important;color:#53646f;font-size:13px;font-weight:400;position:relative;line-height:18px!important;border:0!important;}
.table-row__img{width:36px;height:36px;display:inline-block;border-radius:50%;background-position:center;background-size:cover;background-repeat:no-repeat;vertical-align:middle;}
.table-row__info{display:inline-block;padding-left:12px;vertical-align:middle;}
.table-row__name{color:#53646f;font-size:14px;font-weight:400;line-height:18px;margin-bottom:0px;}
.table-row__small{color:#9eabb4;font-weight:300;font-size:12px;}
.table-row__policy{color:#53646f;font-size:13px;font-weight:400;line-height:18px;margin-bottom:0px;}
.table-row__p-status{margin-bottom:0;font-size:13px;vertical-align:middle;display:inline-block;color:#9eabb4;}
.table-row__status{margin-bottom:0;font-size:13px;vertical-align:middle;display:inline-block;color:#9eabb4;}
.table-row__progress{margin-bottom:0;font-size:13px;vertical-align:middle;display:inline-block;color:#9eabb4;}
.status:before{content:'';margin-bottom:0;width:9px;height:9px;display:inline-block;margin-right:7px;border-radius:50%;}
.status--red:before{background-color:#e36767;}
.status--red{color:#e36767;}
.status--blue:before{background-color:#3fd2ea;}
.status--blue{color:#3fd2ea;}
.status--yellow:before{background-color:#ecce4e;}
.status--yellow{color:#ecce4e;}
.status--green{color:#6cdb56;}
.status--green:before{background-color:#6cdb56;}
.status--grey{color:#9eabb4;}
.status--grey:before{background-color:#9eabb4;}
.table-row--overdue{width:3px;background-color:#e36767;display:inline-block;position:absolute;height:calc(100% - 24px);top:50%;left:0;transform:translateY(-50%);}
.table-row--overdue_yellow{width:3px;background-color:#e36767;display:inline-block;position:absolute;height:calc(100% - 24px);top:50%;left:0;transform:translateY(-50%);}
.table-row--overdue_green{width:3px;background-color:#2ecc71;display:inline-block;position:absolute;height:calc(100% - 24px);top:50%;left:0;transform:translateY(-50%);}
.table-row--overdue_gris{width:3px;background-color:#a9bbb1;display:inline-block;position:absolute;height:calc(100% - 24px);top:50%;left:0;transform: translateY(-50%);}
.table-row__edit{width:46px;padding:3px 10px;display:inline-block;background-color:#daf3f8;border-radius:18px;vertical-align:middle;margin-right:10px;cursor:pointer;}
.table-row__bin{width:16px;display:inline-block;vertical-align:middle;cursor:pointer;}
.table-row--yellow{background-color:#ffa0004a;}
.table-row--red{background-color:#fff2f2;}
.table__select-row{appearence:none;-moz-appearance:none;-o-appearance:none;-webkit-appearance:none;width:17px;height:17px;margin:0 0 0 5px!important;vertical-align:middle;border:2px solid #beccd7;border-radius:50%;cursor:pointer;}
.table__select-row:hover{border-color:#01b9d1;}
.conten_footer_tabla_layshane{display:grid;flex-wrap:wrap;width:100%;gap:1.3rem;grid-template-columns:repeat(auto-fit, minmax(min(16rem, 100%), 1fr));padding:10px;}
.min_info_layshane_left{display:flex;justify-content:flex-start;}
.controls_tabla_layshane{display:flex;justify-content:flex-end;flex-wrap:wrap;gap:1rem;}
.dyninput_garants{width:100%;max-width:50px;border:0;padding:5px;border-bottom:1px solid #F1F1F1;outline:none;}
.dyninput_garantsn{border:0;padding:5px;outline:none;cursor:pointer;}
.text_justificacion_anular_compra{display:block;width:100%;padding:10px;border-radius:4px;border:2px #ccc dashed;outline:none;transition:all .5s;}
.text_justificacion_anular_compra:focus{border-color:#5989c8;}
.contenido_ct_footer_document_order{background:rgba(0, 0, 0, 0.02);display:flex;flex-wrap:wrap;justify-content:center;align-items:center;flex-direction:row-reverse;flex:1}
.footer_document_order{width:100%;max-width:400px;margin:0 auto;margin-right:0;display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:100%;}
.footer_document_orderb{width:100%;justify-content:center;align-items:center;display:flex;max-width:calc(100% - 400px);padding:15px 10px;text-transform:uppercase;}
.footer_document_order_li{display:flex;flex-wrap:wrap;width:100%;justify-content:space-between;padding:10px;gap:1em;}
.head_doc_li{font-weight:bold;font-family:arial;text-align:right;}
.bt_conain_sty{display:flex;width:100%;justify-content:flex-end;}
@media screen and (max-width: 991px){
.contenido_ct_footer_document_order{flex-direction:column;}
.footer_document_order{max-width:100%;}
.footer_document_orderb{max-width:100%;}
.con_layshane_tbles{overflow:initial;}
.con_layshane_tbles .container{white-space:initial;}
.table__thead{display:none;}
.table-row{display:inline-block;border:0;background-color:#fff;width:calc(33.3% - 13px);margin-right:10px;margin-bottom:10px;}
.table-row__img{width:42px;height:42px;margin-bottom:10px;}
.table-row__td:before{content:attr(data-column);color:#9eabb4;font-weight:500;font-size:12px;text-transform:uppercase;display:block;}
.table-row__info{display:block;padding-left:0;}
.table-row__td{display:block;text-align:center;padding:8px!important;}
.table-row--red{background-color:#fff2f2;}
.table-row--overdue{width:100%;top:0;left:0;transform:translateY(0%);height:4px;}
}
@media screen and (max-width: 680px){
.table-row{width:calc(50% - 13px);}
}
@media screen and (max-width: 480px){
.table-row{width:100%;}
}
/*Stylos de los radio bancos*/
.radio-inputs{display:flex;justify-content:flex-start;align-items:center;max-width:100%;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;gap:1.5rem;}
.radio-input:checked + .radio-tile{border-color:#2260ff;box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);color:#2260ff;box-shadow:0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;}
.radio-input:checked + .radio-tile:before{transform:scale(1);opacity:1;background-color:#2260ff;border-color:#2260ff;}
.radio-input:checked + .radio-tile .radio-icon svg{fill:#2260ff;}
.radio-input:checked + .radio-tile .radio-label{color:#2260ff;}
.radio-input:focus + .radio-tile{border-color:#2260ff;box-shadow:0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;}
.radio-input:focus + .radio-tile:before{transform:scale(1);opacity:1;}
.radio-tile{display:flex;flex-direction:column;align-items:center;justify-content:center;padding:15px;border-radius:0.5rem;border:2px solid #b5bfd9;background-color:#fff;box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);transition:0.15s ease;cursor:pointer;position:relative;}
.radio-tile:before{content:"";position:absolute;display:block;width:0.75rem;height:0.75rem;border:2px solid #b5bfd9;background-color:#fff;border-radius:50%;top:0.25rem;left:0.25rem;opacity:0;transform:scale(0);transition:0.25s ease;}
.radio-tile:hover{border-color:#2260ff;}
.radio-tile:hover:before{transform:scale(1);opacity:1;}
.radio-icon img{width:6rem;height:6rem;border-radius:5px;}
.radio-label{color:#707070;transition:0.375s ease;text-align:center;font-size:13px;}
.radio-input{clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px;}
/* Atributos y buscadores */
.buscar_productos_a_comprar{position:relative;display:none;}
.listar_productos_a_comprar{display:flex;flex-wrap:wrap;width:100%;border-radius:5px;position:relative;}
.active_seach_item{display:flex;flex-wrap:wrap;width:100%;}
.cont_atributes_listas_compras{display:flex;flex-wrap:wrap;gap:1rem;position:fixed;bottom:0;background-color:#FFF;width:100%;max-width:1200px;z-index:1;left:0;right:0;justify-content:center;margin:auto;border:none;border-radius:15px 15px 0 0;padding:20px;max-height: calc(100% - 120px);overflow: auto;}
.cont_atributes_listas_compras_title{display:block;width:100%;}
.atributes_listas_compras{display:flex;flex-direction:column;background-color:#fff;overflow:hidden;width:100%;margin:10px auto;}
.atributes_listas_compras input[type="radio"]{display:none;}
.atributes_listas_compras .lista_de_opciones_de_atributes label{display:flex;align-items:center;padding:20px;cursor:pointer;transition:background-color 0.3s ease-in-out;}
.radio-circle{width:20px;height:20px;border:2px solid #3498db;border-radius:50%;margin-right:10px;transition:border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;}
.radio-text{font-size:1rem;color:#333;transition:color 0.3s ease-in-out;}
.atributes_listas_compras .lista_de_opciones_de_atributes input[type="radio"]:checked + label{background-color:#3498db;}
.atributes_listas_compras input[type="radio"]:checked + label .radio-circle{border-color:#fff;background-color:#3498db;}
.atributes_listas_compras input[type="radio"]:checked + label .radio-text{color:#FFF;}
.cont_ats_title{padding:10px;width:100%;font-size:17px;border-bottom:2px solid #ccca;}
.placeholder_atri{width:100%;position:fixed;background:rgba(0, 0, 0, 0.73);top:0;bottom:0;left:0;right:0;z-index:1040;}
.header_title_viewas_more_items{display:flex;flex-wrap:wrap;width:100%;gap:1rem;justify-content:space-between;align-items:center;padding:20px;position:sticky;top:0;background-color:#FFF;z-index:1;}
.submenu_add_irtd_docmt,
.submenu_add_irtd{z-index:1040;overflow:hidden;max-height:calc(100% - 120px);height:100vh;display:block;overflow-y:auto;padding:0;}
.submenu_add_irtd_docmt table,
.submenu_add_irtd table{padding:20px;padding-top:0;}
.submenu_add_irtd_docmt table .table__thead,
.submenu_add_irtd table .table__thead{top:80px;position:sticky;z-index:1;background:#F8F8F8;}
.main_closed_view_more_items_orrder{position:fixed;top:20px;width:100%;max-width:1200px;margin:auto;display: flex;left:10px;right:0;z-index:10000;}
.closed_view_more_items_orrder{aspect-ratio:1/1;border-radius:100%;display:flex;align-items:center;padding:20px;background-color:#F9F9F9}
.closed_view_more_items_orrder svg{margin:0!important;width:30px;height:30px;}
.precio_compra_invo_s{display:flex;width:100%;justify-content:flex-start;align-items:center;gap:0.2rem;}
.value-button{padding:10px;}
.precio_compra_invo_s span{font-size:15px;}
.input_number_laysh,
.precio_compra_invo_s .box_compra_inputs{border:2px dashed #ccc;padding:10px;outline:none;transition:all .5s;}
.input_number_laysh:focus,
.precio_compra_invo_s .box_compra_inputs:focus{border-color:#555;border-radius:4px;}
.input_number_laysh[type="number"]::-webkit-inner-spin-button,
.input_number_laysh[type="number"]::-webkit-outer-spin-button,
.precio_compra_invo_s .box_compra_inputs[type="number"]::-webkit-inner-spin-button,
.precio_compra_invo_s .box_compra_inputs[type="number"]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}
.input_number_laysh[type="number"],
.precio_compra_invo_s .box_compra_inputs[type="number"]{-moz-appearance: textfield; /* Firefox */}
.dell-button{display:flex;flex-direction:column;align-items:center;justify-content:center;width:55px;height:55px;border-radius:15px;background-color:rgb(255, 95, 95);cursor:pointer;border:3px solid rgb(255, 201, 201);transition-duration:0.3s;}
.dell-bottom{width:15px;}
.dell-top{width:17px;transform-origin:right;transition-duration:0.3s;}
.dell-button:hover .dell-top{transform:rotate(45deg);}
.dell-button:hover{background-color:rgb(255, 0, 0);}
.dell-button:active{transform: scale(0.9);}
.menu_atrr{overflow:hidden!important;}
.layshane-btn_cr{width:130px;height:40px;color:#fff;border-radius:5px;padding:10px 25px;font-family:'Lato', sans-serif;font-weight:500;background:transparent;cursor:pointer;transition:all 0.3s ease;position:relative;display:inline-flex;box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),7px 7px 20px 0px rgba(0,0,0,.1),4px 4px 5px 0px rgba(0,0,0,.1);outline: none;justify-content:center;align-items:center;}
.btn_layshane-1{background:rgb(255, 95, 95);background:linear-gradient(0deg, #f94141 0%, rgb(255, 95, 95) 100%);border: none;}
.btn_layshane-1:before{height:0%;width:2px;}
.btn_layshane-1:hover{box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),-4px -4px 6px 0 rgba(116, 125, 136, .5), inset -4px -4px 6px 0 rgba(255,255,255,.2),inset 4px 4px 6px 0 rgba(0, 0, 0, .4);}
@media screen and (max-width: 991px){
.precio_compra_invo_s{justify-content:center;}
}


