.div_container_lui_cart{display:grid;grid-template-rows:repeat(var(--bs-rows, 1), 1fr);grid-template-columns:repeat(var(--bs-columns, 12), 1fr);gap:var(--bs-gap,1.5rem);margin:var(--bs-margin, auto);margin:10px auto;}
:root{--bs-columns:12;--bs-gap:24px;}
.ch_cart{background:rgba(0, 0, 0, 0.05);}
.sidebar_layshane_store{margin:unset;width:unset;padding-right:0;display:block;order:0;grid-column:auto / span 3;box-sizing:border-box;padding:10px;}
@media all and (min-width: 1920px),print{
	:root{--gallery-nav-width:440px;--bs-gap:28px;--bs-padding:0 116px;}
}
@media all and (min-width: 768px),print{
	.sidebar_layshane_store{float:left;}
}
.container_cart_lists{padding-top:10px;position:relative;margin-right:unset;width:unset;float:right;grid-column:auto / span 12;margin-top:0;margin-left:0;}
.content_data_boleta,
.content_data_factura{padding:10px;}
.sun_input{display:flex;flex-wrap:wrap;line-height:28px;align-items:center;position:relative;width:100%;}
.input-md{width:100%;height:40px;line-height:28px;padding:0 1rem;border:2px solid transparent;border-radius:8px;outline:none;background-color:#f3f3f4;color:#0d0c22;transition:0.3s ease;}
.input-md::placeholder{color:#9e9ea7;}
.input-md:focus,
.input-md:hover{outline:none;border-color:rgba(0, 48, 73, 0.4);background-color:#fff;box-shadow:0 0 0 4px rgb(0 48 73 / 10%);}
.sun_input_a{position:relative;padding:20px 0 0;width:100%;}
.sun_input_a .input-md_a{font-family:inherit;width:100%;border:none;border-bottom:2px solid #9b9b9b;outline:0;font-size:17px;color:#444;padding:7px 0;background:transparent;transition:border-color 0.2s;}
.sun_input_a .input-md_a::placeholder{color:transparent;}
.sun_input_a .input-md_a:placeholder-shown ~ label{font-size:17px;cursor:text;top:20px;}
.sun_input_a label{position:absolute;top:0;display:block;transition:0.2s;font-size:17px;color:#9b9b9b;pointer-events:none;}
.sun_input_a .input-md_a:focus{padding-bottom:6px;font-weight:700;border-width:3px;border-image:linear-gradient(to right, #116399, #38caef);border-image-slice:1;}
.sun_input_a .input-md_a:focus ~ label{position:absolute;top:0;display:block;transition:0.2s;font-size:17px;color:#38caef;font-weight:700;}
/* reset input */
.sun_input_a .input-md_a:required, .sun_input_a .input-md_a:invalid{box-shadow:none;}
.option_order_users_data{display:flex;flex-wrap:wrap;}
.option_order_data{display:flex;width:calc(50% - 14px);margin:7px;position:relative;}
.option_order_data label{background:#FFF;display:flex;width:100%;height:100%;padding:18px;align-self:center;align-items:center;justify-content:center;position:relative;margin:0;border-radius:6px;border:2px solid var(--boton-color);cursor:pointer;transition:all .5s;}
.option_order_data input{display:none;}
.option_order_data input:checked ~ .label_selected_mod{border:2px solid var(--boton-fondo)!important;}
.content_delivery_data,
.content_store_data{transition:all .5s;}
.nodisplay_mode_order{height:0;overflow:hidden;width:0;transition:all .5s;min-height:0;padding:0;}
.button_layshane_green{padding:1.3em 3em;font-size:12px;text-transform:uppercase;letter-spacing:2.5px;font-weight:500;color:#000;background-color:#fff;border:none;border-radius:45px;box-shadow:0px 8px 15px rgba(0, 0, 0, 0.1);transition:all 0.3s ease 0s;cursor:pointer;outline:none;margin:25px auto;}
.button_layshane_green:hover{background-color:#23c483;box-shadow:0px 15px 20px rgba(46, 229, 157, 0.4);color:#fff;transform:translateY(-7px);}
.button_layshane_green:active{transform:translateY(-1px);}
.ch_title{display:flex;justify-content:space-between;align-items:center;}
.ch_title a,.ch_title div{padding:20px 10px;}
.container_cart_lists{padding:10px;padding-top:0;}
.ch_checkout_title{padding:10px;}
@media all and (max-width: 1050px),print{
	.container_cart_layshane{padding:0;}
	.container_cart_lists,
	.sidebar_layshane_store{grid-column:auto / span 12;}
	.modos_de_pago_container_buttons{flex-wrap:wrap;}
}
/*Addres styles*/
.cart_chos_addrs{display:flex;flex-wrap:wrap;width:100%;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.cart_chos_addrs > *{margin:6px;width:100%;}
.payment_address:checked + .radio-tile,
.payment_sucursal:checked + .radio-tile{border-color:#2260ff;box-shadow:0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;color:#2260ff;}
.payment_address:checked + .radio-tile:before,
.payment_sucursal:checked + .radio-tile:before{transform:scale(1);opacity:1;background-color:#2260ff;border-color:#2260ff;}
.payment_address:checked + .radio-tile p,
.payment_sucursal:checked + .radio-tile p{color:#2260ff;}
.payment_address:focus + .radio-tile,
.payment_sucursal:focus + .radio-tile{border-color:#2260ff;box-shadow:0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;}
.payment_address:focus + .radio-tile:before,
.payment_sucursal:focus + .radio-tile:before{transform:scale(1);opacity:1;}
.radio-tile{display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;min-height:80px;border-radius:0.5rem;border:2px solid #b5bfd9;background-color:#fff;box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);transition:0.15s ease;cursor:pointer;position:relative;padding:7px;}
.radio-tile:before{content:"";position:absolute;display:block;width:0.75rem;height:0.75rem;border:2px solid #b5bfd9;background-color:#fff;border-radius:50%;top:0.25rem;left:0.25rem;opacity:0;transform:scale(0);transition:0.25s ease;}
.radio-tile:hover{border-color: #2260ff;}
.radio-tile:hover:before{transform:scale(1);opacity:1;}
.radio-tile p{color:#707070;transition:0.375s ease;text-align:center;font-size:13px;}
.payment_address,.payment_sucursal{clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px;}
/*Stylos de los precios*/
.ch_total_price{display:flex;flex-wrap:wrap;flex-direction:column;width:100%;position:relative;background-color:#ffffff9c;padding:30px;align-content:flex-end;}
.div_subs_contn{display:flex;align-items:center;justify-content:flex-end;gap:2em;padding:10px;user-select:none;}
.modos_de_pago_container_buttons{display:flex;margin-top:10px;width:100%;flex-direction:row;gap:1em;}
.lista_modo_pago{width:100%;display:flex;position:relative;background:#FFF;margin:5px 0;align-items:center;}
.lista_modo_pago label{display:flex;width:100%;padding:10px;font-size:18px;justify-content:flex-start;align-items:center;cursor:pointer;gap:1rem;border:1px solid #2c8ce9;border-radius:4px;}
.lista_modo_pago label h6{margin:0;padding:0;}
.lista_modo_pago input:checked + label{border-color:#2260ff;box-shadow:0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;color:#2260ff;}
.lista_modo_pago input{display:none;}
.carrito_null_layshane{display:flex;justify-content:center;align-items:center;flex-wrap:wrap;margin-bottom:30px;background:#ffffff9c;}
.carrito_null_layshane p{padding:30px;}