.header_layshane_tienda{display:flex;flex-wrap:wrap;background:#0053a3;justify-content:center;color:#fff;user-select:none;--bs-margin:0;position:relative;
}& h1{width:100%;margin-bottom:0;padding-top:20px;
}& .text_category{font-size:12px;text-transform:uppercase;text-align:center;padding-bottom:18px;
}
.head_productos_fitrar{position:relative;}
.contenido_layshane_items{display:grid;margin:0 auto;margin-top:20px;grid-template-rows:repeat(var(--bs-rows, 1), 1fr);grid-template-columns:repeat(var(--bs-columns, 12), 1fr);gap:var(--bs-gap, 1.5rem);margin:var(--bs-margin, auto);}
:root{--bs-columns:12;--bs-gap:24px;--bs-rows:0;}
@media all and (min-width: 1920px),print{
:root{--gallery-nav-width:440px;--bs-gap:28px;--bs-padding:0 116px;}
}
.sidebar_layshane_items{margin:unset;width:unset;padding-right:0;display:block;order:0;grid-column:auto / span 3;box-sizing:border-box;padding:10px;}
@media all and (min-width: 768px),print{
.sidebar_layshane_items{float:left;}
}
.form_search_layshane{--input-text-color:#666;--input-bg-color:#fff;--focus-input-bg-color:#ffff;--text-color:#949faa;--active-color:#1b9bee;--width-of-input:100%;--inline-padding-of-input:1.2em;--gap:0.9rem;}
.form_search_layshane{margin-top:20px;font-size:0.9rem;display:flex;gap:0.5rem;align-items:center;width:var(--width-of-input);position:relative;isolation:isolate;}
.form_search_layshane .fancy-bg{position:absolute;width:100%;inset:0;border-radius:30px;height:100%;z-index:-1;background:#fff;pointer-events:none;box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px;}
.form_search_layshane label{width:100%;cursor:text;padding:0.8em;height:40px;padding-inline:var(--inline-padding-of-input);display:flex;align-items:center;}
.form_search_layshane .search,.close-btn{position: absolute;}
.form_search_layshane .search{fill:var(--text-color);left:var(--inline-padding-of-input);}
.form_search_layshane svg{width:17px;display:block;}
.form_search_layshane .close-btn{border:none;right:var(--inline-padding-of-input);box-sizing:border-box;display:flex;align-items:center;justify-content:center;color:#fff;padding:0.1em;width:20px;height:20px;border-radius:50%;background:var(--active-color);opacity:0;visibility:hidden;}
.form_search_layshane .input{color:var(--input-text-color);width:100%;margin-inline:min(2em,calc(var(--inline-padding-of-input) + var(--gap)));background:none;border:none;}
.form_search_layshane .input:focus{outline:none;}
.form_search_layshane .input::placeholder{color:var(--text-color)}
.form_search_layshane .input:focus ~ .fancy-bg {border:1px solid var(--active-color);background:var(--focus-input-bg-color);}
.form_search_layshane .input:focus ~ .search{fill:var(--active-color);}
.form_search_layshane .input:valid ~ .close-btn{opacity:1;visibility:visible;}
.form_search_layshane input:-webkit-autofill,
.form_search_layshane input:-webkit-autofill:hover,
.form_search_layshane input:-webkit-autofill:focus,
.form_search_layshane input:-webkit-autofill:active{-webkit-transition:"color 9999s ease-out, background-color 9999s ease-out";-webkit-transition-delay:9999s;}
.espacio_para_filtrar_y_ordenar{position:relative;}
@media all and (min-width: 920px),print{
.espacio_para_filtrar_y_ordenar{text-transform:uppercase;}
.dropdown_market_stylin_widget{display:block;position:relative;user-select:none;cursor:default;}
.dropdown_market_stylin_widget .m_widget_head{cursor:default;}
.dropdown_en_lista_view_productos:not(.notfi-dropdown):not([role=combobox]){opacity:1;visibility:visible;transform:none;box-shadow:initial;width:100%;background:transparent;position:relative;}
.dropdown_market_stylin_widget .market_categories ul{margin:0;padding:0;}
.dropdown_market_stylin_widget .market_categories ul li{padding:10px;display:flex;align-items:center;gap:0.7rem;position:relative;cursor:pointer;}
.dropdown_market_stylin_widget .market_categories ul li span{display:flex;align-items:center;position:relative;}
.dropdown_market_stylin_widget .market_categories ul li span{width:20px;height:20px;aspect-ratio:1;border-radius:8px;border:2px solid #666;position:relative;transition:all 0.2s ease-in-out;}
.dropdown_market_stylin_widget .market_categories ul li span::before{bottom:-4px;left:1px;content:"✔";font-size:30px;color: #2c8ce9;transform: scale(0);transition: all 0.2s ease-in-out;cursor:pointer;}
.dropdown_market_stylin_widget .market_categories ul .active span{border:2px solid #ccc;}
.dropdown_market_stylin_widget .market_categories ul .active span::before{transform: scale(1);}
}
.contenido_categorias_layshane{display:block;width:100%;}
.titilo_sections_layshane{text-transform:uppercase;display:block;width:100%;padding:10px 0;user-select:none;}
.categories_contenido_layshane{display:block;}
.categories_contenido_layshane ul{margin:0;padding:0;}
.categories_contenido_layshane ul li a{display:flex;padding:10px;}
.caja_de_productos_en_lista{position:relative;margin-right:unset;width:unset;float:right;grid-column:4 / span 9;margin-top:0;margin-left:0;padding:10px;}
.wo_market .market_bottom .productos_en_cuadros{display:grid;width:100%;position:relative;max-width:100%;box-sizing:border-box;gap:1rem;grid-template-columns:repeat(auto-fill, minmax(calc(100% / 4 - 1rem), 1fr));}
.wo_market .market_bottom .productos_en_cuadros .product{display:block;}
.wo_market .market_bottom .productos_en_cuadros .product .product-image img{object-fit:contain;width:100%;height:auto;}
.wo_market .market_bottom .productos_en_cuadros .product .product_info{height: 100%; background-color:#fff;border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;overflow:hidden;transition:all .2s linear}
.wo_my_pages .page_list,.wo_my_products a{-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);background:#fff}
.wo_market .market_bottom .productos_en_cuadros .product .product-links{width:100%;position:absolute;top:0;left:0;padding:0 40px;z-index:8;opacity:0;height:100%;background-color:rgba(0,0,0,.41);transition:opacity .3s cubic-bezier(.33,.66,.66,1);display: flex;align-items: center;justify-content: center;border-radius: 10px 10px 0 0;}
.wo_market .market_bottom .productos_en_cuadros .product .product_info:hover .product-links {opacity:1}
.wo_market .market_bottom .productos_en_cuadros .product .product-links .more-info{background-color: rgba(255, 255, 255, 0.3);color: #fff;}
.wo_market .market_bottom .productos_en_cuadros .product .product-links .more-info:hover{background-color:#fff;color:#000 !important;}
.wo_market .market_bottom .productos_en_cuadros .post-container .produc_info,
.wo_market .market_bottom .productos_en_cuadros .product .produc_info{padding:7px 10px}
.wo_market .market_bottom .productos_en_cuadros .product .product_info.wow_main_mkt_prod .product-image {margin: 0;width: 100%;}
.wo_market .market_bottom .productos_en_cuadros .product .product_info.wow_main_mkt_prod .product-by {position:relative;text-align:left!important;font-size:12px!important;}
.wo_market .market_bottom .productos_en_cuadros .post-container .panel .producto_stock,
.wo_market .market_bottom .productos_en_cuadros .product .product_info.wow_main_mkt_prod .product-by a {text-decoration:none;font-size:12px!important;text-align:left!important;font-weight:initial;}
.wo_market .market_bottom .productos_en_cuadros .product .product_info.wow_main_mkt_prod .wow_main_prod_foot {text-align: end;position: relative;z-index: 9;}
.wo_market .market_bottom .productos_en_cuadros .product .product_info.wow_main_mkt_prod .wow_main_prod_foot .btn {width: 40px;height: 40px;min-width: auto;padding: 0;border-radius: 50%;margin: -35px 2px 0;}
.wo_market .market_bottom .productos_en_cuadros .product .product_info.wow_main_mkt_prod .wow_main_prod_foot .btn svg {margin: 0;width: 19px;height: 19px;}
.wo_market .market_bottom .productos_en_cuadros .post-container .panel .product-title,
.wo_market .market_bottom .productos_en_cuadros .product .product_info.wow_main_mkt_prod .product-title{display:flex;align-items:center;justify-content:space-between;text-align:center;flex-wrap:wrap;gap:1rem;text-align:left;font-weight:initial;font-size: 19px;}
.wo_market .market_bottom .productos_en_cuadros .post-container .panel .product-title a,
.wo_market .market_bottom .productos_en_cuadros .post-container .panel .product-title span,
.wo_market .market_bottom .productos_en_cuadros .product .product_info.wow_main_mkt_prod .product-title a {text-decoration:none;color:#555;padding:5px;}
.wo_market .market_bottom .productos_en_cuadros .product .product_info.wow_main_mkt_prod .product-price {font-weight:initial;font-size: 16px;text-align:left;margin:0 0 2px;letter-spacing:normal;color:var(--header-fondo);}
.carousel{padding:15px 0;padding-top:0;position:relative;}
.carousel h2{margin:0;}
.carousel a{text-decoration:none;color:#fff;}
.carousel .carousel__wrapper .carousel__content .carousel__item a figure{aspect-ratio:1/1;width:100%;height:100%;position:relative;object-fit:contain;background-size:contain;background-position:center center;background-repeat:no-repeat;-webkit-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;-webkit-user-drag:none;-khtml-user-drag:none;-moz-user-drag:none;-o-user-drag:none;user-drag:none;margin:auto;max-width:100%;max-height:100%;border-radius:clamp(0px, ((100vw - 4px) - 100%) * 9999, 4px);}
.carousel h3{font-size:16px;width:100%;display:flex;justify-content:center;background:linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 39%) 35%, rgb(0 0 0 / 57%) 75%, rgb(0 0 0 / 63%) 100%);align-items:flex-end;padding:10px 3px;padding-bottom:20px;height:100%;margin:0;text-align:center;}
.carousel .dragging a{user-select:none;}
.carousel .carousel__wrapper{position:relative;margin-bottom:24px;}
@media only screen and (min-width: 1180px) {
  .carousel .carousel__wrapper.has-arrows .carousel__arrows{display:flex;}
}
.carousel .carousel__header{display:grid;grid-auto-flow:column;justify-content:space-between;align-items:center;margin-bottom:16px;}
.carousel .carousel__content{overflow-y:hidden;overflow-x:scroll;scrollbar-width:none;-ms-overflow-style:none;display:flex;-webkit-overflow-scrolling:touch;cursor:grab;grid-gap:24px;list-style:none;padding:20px 10px;padding-left:15px;margin:auto;background:#f0f2f5;}
.carousel .carousel__content::-webkit-scrollbar{display:none;}
.carousel .carousel__item{aspect-ratio:1/1;flex:0 0 auto;display:inline-flex;width:calc(100% / 7 - 1.31rem);box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);border-radius:20px;background:rgb(245, 245, 245);overflow:hidden;position:relative;margin:0px;}
@media only screen and (max-width: 1500px) {
  .carousel .carousel__item{width:calc(100% / 5 - 1.31rem);}
}
@media only screen and (max-width: 1200px) {
  .carousel .carousel__item{width:calc(100% / 4 - 1.03rem)}
}
@media only screen and (max-width: 990px) {
  .carousel .carousel__item{width:calc(100% / 5 - 1.31rem);}
}
@media only screen and (max-width: 870px) {
  .carousel .carousel__item{width:calc(100% / 4 - 1.03rem)}
}
@media only screen and (max-width: 620px) {
  .carousel .carousel__item{width:calc(100% / 3 - 1.03rem)}
}
@media only screen and (max-width: 470px) {
	.carousel .carousel__content{grid-gap:11px;}
	.columna_xs-6{width:100%;float:none;}
  .carousel .carousel__item{width:calc(100% / 2 - 3.5rem)}
}
@media only screen and (max-width: 390px) {
	.columna_xs-6{width:100%;float:none;}
  .carousel .carousel__item{width:calc(100% / 1 - 10rem)}
}
@media only screen and (max-width: 330px) {
	.columna_xs-6{width:100%;float:none;}
  .carousel .carousel__item{width:calc(100% / 1 - 6rem)}
}
@media only screen and (max-width: 290px) {
	.columna_xs-6{width:100%;float:none;}
  .carousel .carousel__item{width:calc(100% / 1 - 4rem)}
}
.carousel .carousel__item .carousel__description{width:100%;position:absolute;bottom:0;display:flex;top:50%;left:0;}
.carousel .carousel__item a{position:absolute;user-select:none;width:100%;height:100%;max-width:100%;max-height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;margin:0;flex-wrap:wrap;cursor:pointer;padding:24px;}
.carousel .carousel__controls{display:grid;grid-auto-flow:column;grid-gap:24px;}
.carousel .carousel__arrow{padding:0;background:transparent;box-shadow:none;border:0;}
.carousel .carousel__arrow:before{content:"";background:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");background-size:contain;filter:brightness(0);display:block;width:18px;height:12px;cursor:pointer;}
.carousel .carousel__arrow.arrow-prev:before{transform:rotate(90deg);}
.carousel .carousel__arrow.arrow-next:before{transform:rotate(-90deg);}
.carousel .carousel__arrow.disabled::before{filter:brightness(3);}
.disclaimer a{color:#fff;}
.load-produts .load-more button{width:auto}
.text_category span{font-family:sans-serif;padding-top:10px;}
.carousel__content{overflow: auto!important;-webkit-overflow-scrolling: touch!important;overscroll-behavior: none!important;overscroll-behavior-x: none!important;}
@media (min-width:2180px) {
	.sidebar_layshane_items{grid-column: auto / span 2;}
	.caja_de_productos_en_lista{grid-column: 3 / span 12;}
}
@media (max-width:2180px) {
	.sidebar_layshane_items{padding-left:20px;padding-right:20px;}

	.sidebar_layshane_items{grid-column: auto / span 2;}
	.caja_de_productos_en_lista{grid-column: 3 / span 12;}
}
@media (max-width:1700px) {
	.wo_market .market_bottom .productos_en_cuadros{grid-template-columns:repeat(auto-fill, minmax(calc(100% / 3 - 1rem), 1fr));}
	.sidebar_layshane_items{grid-column: auto / span 3;}
	.caja_de_productos_en_lista{grid-column: 4 / span 12;}
}
@media (max-width:1500px) {
	.wo_market .market_bottom .productos_en_cuadros{grid-template-columns:repeat(auto-fill, minmax(calc(100% / 3 - 1rem), 1fr));}
}
@media (max-width:1102px) {
	.wo_market .market_bottom .productos_en_cuadros{grid-template-columns:repeat(auto-fill, minmax(calc(100% / 2 - 1rem), 1fr));}
}
@media (max-width:1050px) {
	.carousel .carousel__header{padding:10px;}
	.sidebar_layshane_items{display:none;}
	.caja_de_productos_en_lista{grid-column:1 / span 12;}
	.wo_market .market_bottom .productos_en_cuadros{grid-template-columns:repeat(auto-fill, minmax(calc(100% / 3 - 1rem), 1fr));}
}
@media (max-width:770px) {
	.wo_market .market_bottom .productos_en_cuadros{grid-template-columns:repeat(auto-fill, minmax(calc(100% / 2 - 1rem), 1fr));}
}
@media (max-width:520px) {
	.caja_de_productos_en_lista{width:100%!important}
	.contenido_layshane_items{display:block!important;}
	.wo_market .market_bottom .productos_en_cuadros{grid-template-columns:repeat(auto-fill, minmax(calc(100% - 1rem), 1fr));}
}
