@charset "UTF-8";
#onesignal-bell-container{display:none!important;}
*, :after, :before, input[type=checkbox], input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body,html{margin:0;padding:0}
body{background:var(--body-background);color:var(--body-color);overflow-x:hidden;font-family:arial, sans-serif;font-size:14.5px;line-height:1.42857143;}
body .mfp-wrap .mfp-progress-line span{width:0;height:4px;background:#ededed;margin-bottom:-40px;transition:width 10s ease-in-out;display:inline-block; background: #ff9900}
a{word-wrap:break-word;text-decoration:none}
a.white:focus{color:#fff!important;text-decoration:none}
a.white:hover{color:#f3f3f3;text-decoration:none}
a,button{outline:0!important}
a{color:#666;text-decoration:none;}
ol, ul{list-style:none;margin-bottom:10px;}
img{vertical-align:middle;}
hr, img{border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{display:block;}
article, div, h1, h2, h3, h4, h5, p, span{word-wrap:break-word;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
.h4, .h5, .h6, h4, h5, h6 {margin-top:7px;margin-bottom:10px;}
.h5, h5{font-size:14.5px;}
article, div, h1, h2, h3, h4, h5, p, span{word-wrap:break-word;}
svg:not(:root){overflow:hidden;}
dl, ol, ul{margin-top:0;}
hr{margin:5px 0 !important;border-top:1px solid #f4f4f4;}
[role=button]{cursor:pointer;}
svg:not(:root){overflow:hidden;}
svg{vertical-align:middle;}
.flex{display:flex!important;align-items:center;}
.no-more-posts-to-show{padding-top:13px}
.pointer{cursor:pointer;user-select:none;}
.wow_sett_content .text-center > .btn-mat {min-width: 150px;margin: 17px 0;}
#wo_main_sett_mid .wo_settings_page .text-center > .btn-mat{min-width:150px;margin:17px 0;}
.text-center{text-align:center;}
svg.feather{vertical-align:middle;margin-top:0px;width:19px;height:19px;}
.btn-default{background:#ebeef0;border:0}
.btn-default svg.feather{margin-top:-3px;width:16px;height:16px}
@media print{.cc-revoke,.cc-window{display:none}}
/*Empty State*/
.empty_state{margin:85px 0;font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;font-size:15px;color:#6d6d6d;text-align:center;width:100%;}
.empty_state svg{display:block;margin:0 auto 15px;width:60px;height:60px;color:#ffffff;background-color:#607D8B;border-radius:50%;padding:14px;opacity:0.7;}
.empty_state .empty_state_img{display:block;margin:0 auto 15px;width:100px;height:100px;float:none;}
.empty_state.single svg{background:transparent;padding:0;opacity:1;width:70px;height:70px;margin:0 auto 20px;border-radius:0;}
.hide_fill_svg{display:none;}
.hidden{display:none;}
.effect-load{margin:0 auto auto auto;}
.xmcv_conten_menu{display:none;visibility:hidden;opacity:0;}
#bar, #progress, .new-update-alert, .posts-container{border-radius:3px;}
.hidden, .visible-lg, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block, .visible-md, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-sm, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-xs, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block{display:none!important;}
.input-group,.input-group-btn, .input-group-btn>.btn, .nav>li, .nav>li>a, .navbar{position:relative;}
/**Heder star**/
.navbar-fixed-bottom,.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030}
.navbar-fixed-top{top:0px;border-width:0 0 1px;}
.nav{padding-left:0;display:block;}
.header-brand{display:block;}
.navbar-default{display:flex;flex-wrap:wrap;align-items:stretch;background:var(--header-background);border: none;height:55px;
}
.tox:not([dir=rtl]) .tox-statusbar__branding,
.tox .tox-promotion{display:none!important;}
@media (min-width: 768px){
.navbar-right{float:right!important;margin-right:-15px;font-size:15px;}
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after,.row:after{clear:both;}
.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before{display:table;content: " ";}
.nav>li{display:inline-block;}
.header-fixed1000,.header-fixed1200{max-width:1150px;margin:0 auto;padding:0;width:100%;display:flex;align-items:center;}
.header-fixed1000 > .container-fluid {display:flex;align-items:center;justify-content:space-between;width:100%;}
.header-fixed1000 > .container-fluid:before, .header-fixed1000 > .container-fluid:after {display: none;}
.wow_hdr_innr_left {display: flex;align-items: center;}
.wow_hdr_innr_left .nav {margin-left: 20px;}
.header-brand{display:block;}
.headtoppoint{height:0;width:0;border:solid transparent;pointer-events:none;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #fff;top:-10px;position:absolute;left:100%;margin-left:-35px;-webkit-filter:drop-shadow(0 -5px 4px rgba(0,0,0,.2));filter:drop-shadow(0 -5px 4px rgba(0,0,0,.2))}
.hide_fill_svg {display: none;}
.navbar-default .dropdown.open .dropdown-toggle svg {display: none;}
.navbar-default .dropdown.open .dropdown-toggle .hide_fill_svg {display: inline-block;}
.navbar-default li.dropdown.notification-container{margin-right:10px}
.navbar-default .dropdown-menu li a svg{height:18px;width:18px;vertical-align:middle;margin:-3px 15px 0 2px}
.navbar-default .user-menu-combination .user-avatar{display:inline-block}
.navbar-default .dropdown-menu.ani-acc-menu {min-width: 250px;}
.navbar-default .open>.dropdown-menu.ani-acc-menu{top:4px}
.navbar-default .dropdown-menu.ani-acc-menu .wo_user_name{margin:0 8px 8px;background-color:rgb(0 0 0 / 4%);border-radius:max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;overflow:hidden;}
.navbar-default .dropdown-menu.ani-acc-menu .wo_user_name > a:not(.wow_hdr_menu_usr_lnk){padding:4px 15px;font-size:14px;}
.navbar-default .sixteen-font-size svg{width:22px;height:22px;margin:-1px 0;}
.head_name_links {margin-left: 8px;}
.head_name_links .btn-main {height: 33px;margin: 6px 0;padding: 0;border-radius: 9px;width: 33px;display: flex;align-items: center;justify-content: center;}
.head_name_links .sixteen-font-size {font-size: 14.5px !important;font-weight: bold;line-height: 21px;}
.create_head_menu {padding: 6px !important;min-width: 250px;}
.create_head_menu:before {content: "";position: absolute;top: -3px;left: 15px;width: 20px;height: 20px;-webkit-transform: rotate(45deg);transform: rotate(45deg);border-radius: 3px 0px 20px 0px;background: #fff;z-index: -1;}
.create_head_menu li {-webkit-animation-name: fadeInUp;animation-name: fadeInUp;-webkit-animation-fill-mode: both;animation-fill-mode: both;padding: 6px;}
.create_head_menu li a {font-size: 14.5px;min-height: 36px;line-height: normal !important;user-select: none;display: flex;align-items: center;word-spacing: 2px;flex-direction: column;padding: 10px 4px !important;border: 1px solid #ddd;border-radius: 8px;font-weight: bold;}
.create_head_menu li a svg {margin: 0 auto 8px !important;height: 28px !important;width: 28px !important;display: block;}
.wow_hdr_menu_usr_lnk { display: flex !important;align-items: center;justify-content: space-between;}
.wow_hdr_menu_usr_lnk b {max-width: 140px;overflow: hidden;text-overflow: ellipsis;}
.wow_hdr_menu_usr_lnk .svg_img_perfil{border-radius:50%;margin:0!important;}
.wow_hdr_requests {padding: 10px;}
.wow_hdr_requests .user-request-list {display: flex;align-items: center;justify-content: space-between;}
.request-list li{margin:0;border-bottom:1px solid #f1f1f1;}
.request-list li:last-child{border-bottom:0;}
.user-request-list .user-info{max-width: 75%;}
.user-request-list .user-info > a {font-weight:bold;color:#272727;font-size: 16px;text-decoration:none;white-space: nowrap;display: inline-block;max-width: inherit;overflow: hidden;text-overflow: ellipsis;margin-top: 3px;}
.user-request-list .user-info .avatar{display:inline}
.user-request-list .user-lastseen {margin-left: 50px;}
.user-request-list img{width: 56px;border-radius:50%;margin-right:10px;float:left}
.user-request-list button {padding: 0;display: inline-flex;align-items: center;justify-content: center;width: 30px;height: 30px;border: 0;border-radius: 8px;}
.user-request-list:not(:first-child){margin-bottom:10px}
#wo_home_btns > span {display:none;user-select:none;}
.ui-menu-item span{font-size: 14.5px}
.ui-menu-item img{width:32px;margin:3px;border-radius:3px}
.small-mention{color:#888!important;font-size: 12px!important}
.margin{margin:5px}
.font-13{font-size: 14.5px}
.no-padding-right{padding-right:0!important}
.recent-searches{padding:4px 10px}
.recent{border-bottom:1px solid #ededed}
.content-container{margin:auto;margin-top:55px;padding-right:0;padding-left:0;display:flex;position:relative;flex-wrap:wrap;min-height:calc(100vh - 55px);width:100%;max-width:1920px!important;align-items:flex-start;}
.effect-load{width:100%;}
.page-margin{margin-top:0px;margin-bottom:20px}
.margen_pagina_blog{margin-top:20px;margin-bottom:20px;width:97%;margin-right:auto;margin-left:auto;}
.header-container{background:var(--header-background);width:100%}
.header-container .user-avatar img{margin-right:3px;border-radius:50%;padding:3px}
/*Menu*/
#head_menu_rght .sixteen-font-size{padding:12px 9px;transition:all 0.1s;}
.navbar-nav>li>a{line-height:16px;}
.nav>li>a{display:block;padding:3px 12px;height:45px;}
.sixteen-font-size{font-size:16px!important;margin-right:24px;user-select:none;}
.sixteencart{font-size:16px!important;margin-right:24px;}
.sixteencart svg{width:22px;height:22px;margin:-1px 0;margin-right:12px;}
@media (min-width: 768px){
  .navbar-nav>li{float:left;}
}
.nav>li{display:inline-block;}
.navbar-default .navbar-nav>li>a{color:#65676b;font-size:13px;}
.nav>li>a{display:block;padding:3px 12px;height:45px;}
.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:16px;}
.navbar-default .user-menu-combination .user-avatar{display:inline-block;}
@media (min-width: 768px){
.navbar-default .navbar-nav>li>a {padding-top:14px;padding-bottom:14px;}
}
.navbar-default .navbar-nav>li>a{display:flex;justify-content:center;align-items:center;}
/**Heder end**/
/*Dropdown*/
.dropdown-menu:not(.notfi-dropdown):not([role=combobox]) {border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;box-shadow:0 12px 28px 0 rgba(0, 0, 0, 0.20),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);padding: 8px 0;transform: scale3d(.8,.8,1);transform-origin: right top;display: block;opacity: 0;visibility: hidden;border: 0;}
.dropdown-menu.toleft {transform-origin: left top !important;}
.open>.dropdown-menu:not(.notfi-dropdown):not([role=combobox]) {transition: opacity 150ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms,transform 150ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms;transform: none;opacity: 1;visibility: visible;}
.dropdown-menu:not(.notfi-dropdown) > li > a {padding: 5px 15px;line-height: 30px;}
.navbar-nav>li>.dropdown-menu{margin-top:0;}
@media (min-width: 768px){
.navbar-right .dropdown-menu{right:0;left:auto;}
}
.btn,.dropdown-header,.dropdown-menu>li>a{line-height:1.42857143;white-space:nowrap}
.dropdown-menu,.modal-content{-webkit-background-clip:padding-box}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;min-width:180px;padding:5px 0;font-size:13px;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);}
.dropdown-menu-right,.dropdown-menu.pull-right{right:0;left:auto}
.dropdown-menu .divider{height:1px;overflow:hidden;background-color:#ededed}
.dropdown-menu>li>a{display:block;padding:5px 10px;clear:both;font-weight:400;font-size:14.5px;color:#555;text-shadow:none;}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{color:var(--boton-color);text-decoration:none;background-color:var(--boton-fondo);}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover{color:#fff;text-decoration:none;background-color:#337ab7;outline:0}
.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover{color:#777}
.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover{text-decoration:none;cursor:not-allowed;background-color:transparent;background-image:none;filter:progid: DXImageTransform.Microsoft.gradient(enabled=false)}
.open>.dropdown-menu{display:block}
.open>a{outline:0}
.dropdown-menu-left{right:auto;left:0}
.dropdown-header{display:block;padding:3px 20px;font-size:13px;color:#777}
.dropdown-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:0;}
.nav-justified>.dropdown .dropdown-menu,.nav-tabs.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}
.btn-group-vertical>.btn.active,.btn-group-vertical>.btn:active,.btn-group-vertical>.btn:focus,.btn-group-vertical>.btn:hover,.btn-group>.btn.active,.btn-group>.btn:active,.btn-group>.btn:focus,.btn-group>.btn:hover,.input-group-btn>.btn:active,.input-group-btn>.btn:focus,.input-group-btn>.btn:hover{z-index:2}
.pull-right>.dropdown-menu{right:0;left:auto}
.dropup .caret,.navbar-fixed-bottom .dropdown .caret{content:"";border-top:0;border-bottom:4px solid}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{top:auto;bottom:100%;margin-bottom:2px}
@media (min-width: 768px) {
.navbar-right .dropdown-menu.notifications-dropdown{left:auto;overflow-x:hidden}
.navbar-right .dropdown-menu{right:0;left:auto}
.navbar-right .dropdown-menu-left{right:auto;left:0}
}
.btn-group-justified>.btn-group .dropdown-menu{left:auto}
[data-toggle=buttons]>.btn input[type=checkbox],[data-toggle=buttons]>.btn input[type=radio],[data-toggle=buttons]>.btn-group>.btn input[type=checkbox],[data-toggle=buttons]>.btn-group>.btn input[type=radio]{position:absolute;clip:rect(0,0,0,0);pointer-events:none}
.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}
.navbar{border:1px solid transparent}
.navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}
@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu{right:0;left:auto}
.navbar-nav .open .dropdown-menu .dropdown-header,.navbar-nav .open .dropdown-menu>li>a{padding: 5px 15px 5px 25px}
.navbar-nav .open .dropdown-menu>li>a{line-height:30px}
.navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:hover {
    background-image: none
}
}
.navbar-nav>li>.dropdown-menu{margin-top:0;border-top-left-radius:0;border-top-right-radius:0}
.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu{margin-bottom:0;border-radius: 4px 4px 0 0}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#777}
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{color:#333;background-color:transparent}
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover{color:#555;background-color:#e7e7e7}
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#ccc;background-color:transparent}
}
@media (max-width: 767px) {
.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header{border-color:#080808}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider{background-color:#999}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{color:#fff}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{color:#fff;background-color:transparent}
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover{color:#fff;background-color:#080808}
.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#444;background-color:transparent}
}
/*Dropdown end*/
@media (max-device-width: 480px)and (orientation:landscape) {
.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse{max-height:100%}
}
.navbar-nav{margin:0;}
@media (min-width: 768px) {
.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse{padding-right:0;padding-left:0}
.navbar-nav>li{float:left;}
.navbar-fixed-bottom,.navbar-fixed-top{border-radius:0}
.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{margin-left:-15px}
}
@media (min-width: 1300px) {
#wo_home_btns{margin:8px 2px;padding:0 10px;display:flex;align-items:center;justify-content:center;height:30px;transition:all 0.2s;font-weight:normal;font-size:14px;line-height:normal;width:auto;}
#wo_home_btns:not(.btn-main):hover{}
#wo_home_btns > svg{width:19px;height:19px;}
#wo_home_btns > span {display:inline;}
}
.header-fixed1000 .container-fluid .wow_hdr_innr_left .header-brand img{max-height:30px;max-width:150px;width:100%;}
@media (max-width: 1050px) {
.is_no_phone{display:none!important;visibility:hidden!important;}
#wo_nw_msg_page .msg_under_hood .mobilerightpane{height: calc(100vh - 155px);}
.no_user_display_messenger{display:none!important;}
#wo_nw_msg_page .msg_under_hood .mobilerightpane{position:sticky;top:0;z-index:1020;width:100%;-ms-overflow-style:none;max-width:100%;}
.text-sender-container .msg_usr_info_top_list .mobilemsgclose {display:block;}
.chat_main{bottom:50px;}
.footer_page_list_l{margin-bottom:50px;}
.xmcv_conten_menu{display:flex;position:fixed;background:#fff;width:100%;height:60px;bottom:0;left:0;right:0;z-index:2000;visibility:visible;opacity:1;}
.xmcv_conten_menu ul{padding:0;margin:0;display:flex;gap:1rem;}
.xmcv_conten_menu li{height:100%;display:flex;position:relative;box-sizing:border-box;background:#fff;width:calc(100% / 4 - 0px);justify-content:center;align-items:center;}
.xmcv_conten_menu li .sixteen-font-size{position:relative;padding:0 15px;height:100%;width:100%;display:flex;justify-content:center;align-items:center;}
.xmcv_conten_menu li .sixteen-font-size span{display:none;}
.xmcv_conten_menu li .sixteen-font-size svg.feather{vertical-align:middle;margin-top:0px!important;width:24px!important;height:24px!important;}
.header_no_ap_go_lie_footer{
  top:-6px;
  background-size: 1px 7px;
  background-repeat:repeat-x;
  right:0;
  box-sizing:border-box;
  pointer-events:none;
  z-index:0;
  left:0;
  height:7px;
  transform: rotate(180deg);
  position:absolute;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAOBAMAAAD3WtBsAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAD29va1cB7UAAAAB3RSTlMCCwQHGBAaZf6MKAAAABpJREFUCNdjSGNIY3BhCGUQBEJjIFQCQigAACyJAjLNW4w5AAAAAElFTkSuQmCC);
}
.xmcv_conten_menu ul li .sixteen-font-size{margin-right:0!important;}
.xmcv_conten_menu ul li .sixteen-font-size .count_items_carrito{top:6px;right:27px;padding:3px;}
.wow_hdr_innr_left .nav{display:none!important;}
.container-fluid .navbar-right{display:flex;justify-content:flex-end;}
.container-fluid .navbar-right li.dropdown{display:flex;justify-content:center;align-items:center;}
.header-fixed1000 > .container-fluid{padding-left:0;padding-right:0;}
.open>.dropdown-menu:not(.notfi-dropdown):not([role=combobox]){top:45px;}
.emo-message-container{top:auto!important;}
.nav>li.dropdown.open{position:static;}
.nav>li.dropdown.open .dropdown-menu{width:100%;left:0;right:0;}
}
@media (max-width: 350px) {
  .header-fixed1000 .container-fluid .wow_hdr_innr_left .header-brand img{max-height:54px;max-width:280px;height:100%;width:100%;}
}
.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da;}
.hidden{display:none;}
.bold{font-weight:700!important;}
.pointer{cursor:pointer;}
.clear{clear:both;}
.pull-left{float:left;}
.pull-right{float:right!important;}
/*Mat Modal*/
.wow_pops_head {position: relative;background:var(--header-fondo);color:var(--header-color);text-align: center;padding: 25px 0 115px;margin-bottom: -50px;}
.wow_pops_head > svg {position: absolute;bottom: 0;left: 0;width: 100%;height: 120px;color: #fff;}
.wow_pops_head > svg path:first-child, .wow_pops_head > svg path:nth-child(2) {display: none;}
.wow_pops_head .close {position: absolute;top: 18px;right: 27px;padding: 0;opacity: 0.4;text-shadow: none;color:var(--header-color);}
.wow_pops_head .close:hover {opacity: 1;}
.wow_pops_head h4 {margin: 0;font-weight: 400;font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;font-size: 19px;}
.wow_pops_head h4 svg {width: 27px;height: 27px;margin: -2px 2px 0 0;background-color: rgba(255, 255, 255, 0.2);border-radius: 50%;padding: 5px;}
.wow_mat_mdl .modal-content {box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);padding: 24px;border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;border: 0;font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;}
.wow_mat_mdl .modal-header {border: 0;background: transparent !important;padding: 0;margin: 0 0 20px;}
.wow_mat_mdl .modal-header .modal-title {font-size: 20px;line-height: 32px;font-weight: bold;}
.wow_mat_mdl .modal-body {padding: 0;font-size: 15px;}
.wow_mat_mdl .modal-footer {margin: 0;padding: 10px 0 0;border: 0;}
.wow_mat_mdl .modal-footer .btn.main {box-shadow: none;background: transparent;}
.wow_mat_mdl .modal-footer .btn.main:before {opacity: 0.15;}
/**Modal***/
.modal, .modal-backdrop{top:0;right:0;bottom:0;left:0;}
.modal{position:fixed;z-index:1050;display:none;-webkit-overflow-scrolling:touch;outline:0}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%);}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.modal-dialog{position:relative;width:auto;margin:10px}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-content{position:relative;background-color:#fff;background-clip:padding-box;border-radius:3px;outline:0;}
.modal-backdrop{position:fixed;z-index:1040;background-color:#000}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=80);opacity:.8}
.modal-header{min-height:16.43px;background:#fcfcfc;padding:10px;border-top-right-radius:3px;border-bottom:1px solid #f1f1f1;border-top-left-radius:5px;}
.modal-header .close{margin-top:-2px}
.modal-title{margin:0;color:#666;font-size:15px;line-height:1.42857143;
  display:contents;}
.modal-body{position:relative;padding:15px;}
.modal-footer{padding:5px;text-align:right;border-top:1px solid #f1f1f1;}
.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
/** Langs modal ***/
.modal.fade .lang_select_modal{background:#fff;-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%);}
.modal.in .lang_select_modal{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.modal-open{overflow:hidden!important;}
.lang_select_modal{position:relative;width:auto;}
.lang_select_modal .titulo_modal{font-size:23px;padding:20px;display:block;width:100%;border-bottom:1px solid #ddd;}
.lang_select_modal .language_select{display:flex;width:100%;position:relative;cursor:pointer;user-select:none;margin-top:3px;padding:10px 5px;}
.lang_select_modal .language_select a{display:flex;width:100%;flex-wrap:wrap;justify-content:space-between;align-items:center;}
.lang_select_modal .language_initial img{height:30px;}
span.language_initial{display:block;overflow:hidden;padding:0!important;border-radius:50%;height:30px;width:30px!important;}
.language_initial img{height:30px;width:30px;object-fit:cover;border-radius:50%;}
@media (min-width: 768px){
  .lang_select_modal{
    width:600px;
    margin-top:0;margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
  }
}
@media (min-width: 768px){
.modal-dialog.big{width:800px!important}
.modal-dialog{width:600px;margin:50px auto}
.modal-sm{width:300px}
}
/**Modal end***/
/** Cookies privacidad**/
.cc-window{opacity:1;transition:opacity 1s ease}
.cc-window.cc-invisible{opacity:0}
.cc-animate.cc-revoke{transition:transform 1s ease}
.cc-animate.cc-revoke.cc-top{transform:translateY(-2em)}
.cc-animate.cc-revoke.cc-bottom{transform:translateY(2em)}
.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover{transform:translateY(0)}
.cc-grower{max-height:0;overflow:hidden;transition:max-height 1s}
.cc-link,.cc-revoke:hover{text-decoration:underline}
.cc-revoke,.cc-window{position:fixed;overflow:hidden;box-sizing:border-box;font-family:Helvetica,Calibri,Arial,sans-serif;font-size:16px;line-height:1.5em;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;z-index:9999}
.cc-window.cc-static{position:static}
.cc-window.cc-floating{padding:2em;border-radius:10px;max-width:24em;-ms-flex-direction:column;flex-direction:column;}
.cc-window.cc-banner{padding:1em 1.8em;width:100%;-ms-flex-direction:row;flex-direction:row}
.cc-revoke{padding:.5em}
.cc-header{font-size:18px;font-weight:700}
.cc-btn,.cc-close,.cc-link,.cc-revoke{cursor:pointer}
.cc-link{opacity:.8;display:inline-block;padding:.2em}
.cc-link:hover{opacity:1}
.cc-link:active,.cc-link:visited{color:initial}
.cc-btn{display:block;padding:.4em .8em;font-size:.9em;font-weight:700;border-width:2px;border-style:solid;text-align:center;white-space:nowrap}
.cc-banner .cc-btn:last-child{min-width:140px}
.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent}
.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover{background-color:transparent;text-decoration:underline}
.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75}
.cc-close:focus,.cc-close:hover{opacity:1}
.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}
.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em}
.cc-revoke.cc-left{left:3em;right:unset}
.cc-revoke.cc-right{right:3em;left:unset}
.cc-top{top:1em}
.cc-left{left:1em}
.cc-right{right:1em}
.cc-bottom{bottom:1em}
.cc-floating>.cc-link{margin-bottom:1em}
.cc-floating .cc-message{display:block;margin-bottom:1em}
.cc-window.cc-floating .cc-compliance{-ms-flex:1;flex:1}
.cc-window.cc-banner{-ms-flex-align:center;align-items:center}
.cc-banner.cc-top{left:0;right:0;top:0}
.cc-banner.cc-bottom{left:0;right:0;bottom:0}
.cc-banner .cc-message{-ms-flex:1;flex:1}
.cc-compliance{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:justify;align-content:space-between}
.cc-compliance>.cc-btn{-ms-flex:1;flex:1}
.cc-btn+.cc-btn{margin-left:.5em}
.col,
.columna_lg_4,
.columna-1,.columna-2,.columna-3,.columna-4,.columna-5,.columna-6,.columna-7,.columna-8,.columna-9,.columna-10,.columna-11,.columna-12,
.columna_sm-1,.columna_sm-2,.columna_sm-3,.columna_sm-4,.columna_sm-10,
.columna_xs-1,.columna_xs-2,.columna_xs-6,
.col-md-6{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    word-wrap:break-word;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.columna_xs-6 {
    width: 50%;
    float:left;
}
.columna_xs-11 {
    width: 91.66666667%
}
.columna_xs-10 {
    width: 83.33333333%;
}
.columna_xs-1 {
    width: 8.33333333%
}
.columna_xs-1,.columna_xs-10,.columna_xs-11,.columna_xs-12,.columna_xs-2,.columna_xs-3,.columna_xs-4,.columna_xs-5,.columna_xs-6,.columna_xs-7,.columna_xs-8,.columna_xs-9 {
    float: left
}
.row:after,.row:before{display:table;content:" ";word-wrap:break-word;box-sizing:border-box;}
.row:after{clear:both;}
.columna_xs-1 {
    width: 8.33333333%;
}
@media only screen and (max-width: 750px){
  .columna-x4{
    width:100%!important;
  }
}
@media (min-width: 768px){
  .columna_sm-4{
    float:left;
    width:33.33333333%;
  }
  .columna_sm-10 {
    width: 83.33333333%;
  }
  .columna_sm-1 {
    width: 8.33333333%
  }
}
@media (min-width: 992px){
  .columna-3{
    width:25%;
    float:left;
  }
  .columna-4{
    width:33.33333333%;
    padding-left:0;
    float:left;
  }
  .columna-6,.col-md-6{
    width:50%;
    float:left;
  }
  .columna-8{
    width:66.66666667%;
    float:left;
  }
  .columna-11 {
    width: 91.66666667%;
    float:left;
  }
  .columna-12{
    width:100%;
    float:left;
  }
}
@media (min-width: 1200px) {
  .columna_lg_1,.columna_lg_10,.columna_lg_11,.columna_lg_12,.columna_lg_2,.columna_lg_3,.columna_lg_4,.columna_lg_5,.columna_lg_6,.columna_lg_7,.columna_lg_8,.columna_lg_9 {
    float:left
  }
  .columna_lg_4 {
    width: 33.33333333%
  }
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
}
.wo_settings_page{position:relative;background-color:#fff;box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);border-radius:max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;padding:15px 20px;margin-bottom:20px;}
.wo_settings_page .avatar-holder{font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;margin:5px 0 0;border-radius:max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;padding:20px 20px;position:relative;display:flex;align-items:center;background-color:rgb(0 0 0 / 4%);word-wrap:break-word;justify-content:space-between;}
.wo_page_hdng_innr{display:flex;justify-content:center;align-items:center;gap:1rem;}
.close{float:right;font-size:21px;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2}
/*ind*/
.page_home_v{width:min(82rem, 100%);padding:20px;margin:auto;user-select:none;}
.paage_welcome{width:100%;display:flex;position:relative;margin:20px auto;justify-content:flex-start;align-items:center;flex-wrap:wrap;}
.paage_loader_s{display:flex;position:relative;margin:20px auto;justify-content:flex-start;align-items:center;border-bottom:1px solid transparent;flex-wrap:wrap;}
.titulo_layshane_peru_h{font-size:22px;margin:10px 0;}
@media only screen and (min-width: 920px){
.productos_contenido,.loading_poruductos_cont{display:grid;width:100%;margin-inline:auto;grid-template-columns: repeat(5, minmax(min(14rem, 100%), 1fr));gap:2rem;}
}
@media only screen and (max-width: 1300px){
.productos_contenido,.loading_poruductos_cont{display:grid;width:100%;margin-inline:auto;grid-template-columns: repeat(4, minmax(min(12rem, 100%), 1fr));gap:2rem;}
}
@media only screen and (max-width: 919px){
.productos_contenido,.loading_poruductos_cont{display:grid;width:100%;margin-inline:auto;grid-template-columns: repeat(3, minmax(min(12rem, 100%), 1fr));gap:2rem;}
}
@media only screen and (max-width: 685px){
.productos_contenido,.loading_poruductos_cont{display:grid;width:100%;margin-inline:auto;grid-template-columns: repeat(2, minmax(min(12rem, 100%), 1fr));gap:2rem;}
}
@media only screen and (max-width: 470px){
.productos_contenido,.loading_poruductos_cont{display:grid;width:100%;margin-inline:auto;grid-template-columns: repeat(auto-fill, minmax(min(9rem, 100%), 1fr));gap:0.8rem;}
.product_layshane, .loading_poruductos{border-radius:6%;box-shadow:initial;}
.name_product{font-size:16px!important;text-shadow:2px 1px rgba(0,0,0,0.1);display:block!important;overflow:auto;text-overflow:ellipsis;white-space:nowrap;}
}
.product_layshane,.loading_poruductos{display:grid;background:#fff;border-radius:20%;aspect-ratio: 1/1; box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);margin:0px;overflow:hidden;position:relative;}
.product_layshane a{position:absolute;max-width:100%;max-height:100%;text-align:center; width:100%;height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;margin:0;flex-wrap:wrap;}
.product_layshane figure{mask-image:linear-gradient(#000 80%, transparent);background-position:center center;background-size:contain;background-repeat:no-repeat;-webkit-transition: all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;width:150px;height:150px;position:relative;max-width:100%;max-height:100%;margin:auto;}
.name_product{color:#333;-webkit-color:#333;-moz-color:#333;position:absolute;bottom:5px;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center;transition:all linear .5s;margin:0;width:100%;padding:10px;font-size:18px}
.name_product:hover{opacity:1;}
.lb-preloader svg,.pace-activity-parent{box-shadow:0 1px 6px 1px rgba(0,0,0,.17)}
.lb-preloader{background:rgba(0,0,0,.23);bottom:0;height:100%;left:0;overflow:hidden;position:fixed;right:0;top:0;width:100%;z-index:99999;display:none}
.lb-preloader svg{background-color:#fff;top:50%;left:50%;transform:translate(-50%,-50%);position:absolute;padding:15px;border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;width:65px;height:65px}

.error_input{border-color:#f23232!important;}
.loader_page::after{content:"";background:white;position:absolute;top:0;bottom:0;height:100%;width:100%;border-radius:5px;transition:all .5s;opacity:.8;left:0;right:0;}
.loader_page::before{content:"";z-index:1;box-sizing:border-box;position:absolute;width:60px;height:60px;border-radius:50%;border-top:2px solid #8900FF;border-right:2px solid transparent;animation:spinner8217 0.8s linear infinite;align-self:center;justify-self:center;top:0;left:0;right:0;bottom:0;}
.loader_pages::after{content:"";z-index:1000;background:white;position:absolute;top:0;bottom:0;height:100%;width:100%;border-radius:5px;transition:all .5s;opacity:1;left:0;right:0;}
.loader_pages::before{content:"";z-index:1002;box-sizing:border-box;position:absolute;width:60px;height:60px;border-radius:50%;border-top:2px solid #8900FF;border-right:2px solid transparent;animation:spinner8217 0.8s linear infinite;align-self:center;justify-self:center;top:0;left:0;right:0;bottom:0;}
.loader_pagesf::after{content:"";z-index:1000;background:white;position:fixed;top:0;bottom:0;height:100%;width:100%;border-radius:5px;transition:all .5s;opacity:1;left:0;right:0;}
.loader_pagesf::before{content:"";z-index:1002;box-sizing:border-box;position:fixed;width:60px;height:60px;border-radius:50%;border-top:2px solid #8900FF;border-right:2px solid transparent;animation:spinner8217 0.8s linear infinite;align-self:center;justify-self:center;top:0;left:0;right:0;bottom:0;}
@keyframes spinner8217{to{transform:rotate(360deg);}}
.alert_400{padding:10px;border:2px solid #ff00005c;width:100%;text-align:center;border-radius:5px;background:#ffc4c357;color:#f23232;font-weight:900;transition:all 0.5s;user-select:none;text-wrap:wrap;}

.boton_add_nluiss{vertical-align:middle;display:flex;border:2px solid;justify-content:center;align-items:center;}
.boton_add_nluis{position:relative;margin:0 4px;font-size:16px;font-weight:500;letter-spacing:1px;border-radius:5px;text-transform:uppercase;border:1px solid transparent;outline:none;cursor:pointer;background:#FAFAFA;overflow:hidden;transition:0.6s;color:#206592;border-color:#206592;padding:5px 10px;user-select:none;}
.boton_add_nluis:before, .boton_add_nluis:after{position:absolute;content:'';left:0;top:0;height:100%;filter:blur(30px);opacity:0.4;transition:0.6s;}
.boton_add_nluis:before{width:60px;background:rgba(255,255,255,0.6);transform:translateX(-130px) skewX(-45deg);}
.boton_add_nluis:after{width:30px;background:rgba(255,255,255,0.6);transform:translateX(-130px) skewX(-45deg);}
.boton_add_nluis:hover:before,
.boton_add_nluis:hover:after{opacity:0.6;transform:translateX(320px) skewX(-45deg);}
.boton_add_nluis:hover{background:#206592;color:#f2f2f2;}
.white{color:#fff;}
.Btn_dorado{width:140px;height:40px;border:none;border-radius:10px;background:linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);background-size:250%;background-position:left;color:#fff;position:relative;display:flex;align-items:center;justify-content:center;cursor:pointer;transition-duration:1s;overflow:hidden;user-select:none;}
.Btn_dorado:hover{background-position:right;transition-duration:1s;}
.Btn_dorado:hover::before{background-position:right;transition-duration:1s;}
.Btn_dorado:active{transform:scale(0.95);}
.button22{display:flex;justify-content:center;align-items:center;font-family:monospace;background-color:#035ff5;box-shadow:0 0 0 5px #3b83f65f;color:#fff;border:none;border-radius:8px;width:100%;max-width:190px;min-width:100px;padding:18px 15px;transition:.3s;}
.button22:hover{background-color: #3b82f6;box-shadow:0 0 0 5px #3b83f65f;color:#fff;}
.button_blanco2{color:#090909;padding:0.7em 1.7em;font-size:18px;border-radius:0.5em;background:#e8e8e8;cursor:pointer;border:1px solid #e8e8e8;transition:all 0.3s;box-shadow:6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;}
.button_blanco2:active{color:#666;box-shadow:inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;}
/*Form Fields*/
.wow_form_fields {position: relative;margin: 15px 0;font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;}
.wow_form_fields > label {font-weight: bold;font-size: 14.5px;display: block;color:#777;}
.wow_form_fields input, .wow_form_fields textarea, .wow_form_fields select, .wow_form_fields > .bootstrap-select.btn-group > .dropdown-toggle {background-color: transparent;box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;border-radius:0;transition: background-color 240ms, box-shadow 240ms;color: #393d4a;font-weight: 400;font-size: 16px;line-height: 28px;padding: 8px;width: 100%;border: 0;outline: 0;}
.wow_form_fields input, .wow_form_fields select {height: 44px;}
.wow_form_fields textarea {resize: vertical;}
.wow_form_fields input:focus, .wow_form_fields textarea:focus, .wow_form_fields select:focus, .wow_form_fields > .bootstrap-select.btn-group > .dropdown-toggle:focus, .wow_form_fields .bootstrap-tagsinput:focus {box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(58, 151, 212, 0.28) 0px 0px 0px 4px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;}
.wow_form_fields input[disabled] {background-color: #f0f2f5;}
.wow_form_fields > .bootstrap-select.btn-group {width: 100% !important;}
.wow_form_fields > .bootstrap-select.btn-group > .dropdown-toggle {height: 44px;outline: 0 !important;padding-right: 40px;}
.wow_form_fields .bootstrap-tagsinput {border: 0;padding: 0 8px;background-color: transparent;box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;transition: background-color 240ms, box-shadow 240ms;}
.wow_form_fields .bootstrap-tagsinput input {box-shadow: none;width: auto;}
/*Alerts*/
.alert{border:0;font-weight:bold;font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;}
.alert-info{background-color: rgba(33, 150, 243, 0.1);color: #2196F3;}
.alert-success{background-color: rgba(76, 175, 80, 0.1);color: #4CAF50;}
.alert-warning{background-color: rgba(243, 148, 64, 0.1);color: #f39440;}
.alert-danger{background-color: rgba(244, 67, 54, 0.1);color: #F44336;}
.ui-icon-alert{background-position:0 -144px}
.selector_checkuno input{position:relative;opacity:1;-webkit-appearance:none;cursor:pointer;height:50px;width:50px;box-shadow:-10px -10px 15px rgba(255,255,255,0.5),10px 10px 15px rgba(0,0,70,0.12);border-radius:50%;border:8px solid #ececec;outline:none;display:flex;justify-content:center;align-items:center;transition:.5s;}
.selector_checkuno{display:flex;justify-content:center;align-items:center;}
.selector_checkuno.center_check{justify-content:center;}
.selector_checkuno.right_check{justify-content:flex-end;}
.selector_checkuno.left_check{justify-content:flex-start;}
.selector_checkuno input::after{transition:.5s;font-family:monospace;content:'';color:#7a7a7a;font-size:25px;left:0.45em;top:0.25em;width:0.25em;height:0.5em;border:solid #7a7a7a;border-width:0 0.15em 0.15em 0;transform:rotate(45deg);}
.selector_checkuno p{padding:10px;cursor:pointer;}
.selector_checkuno input:checked{box-shadow: -10px -10px 15px rgba(255,255,255,0.5),10px 10px 15px rgba(70,70,70,0.12),inset -10px -10px 15px rgba(255,255,255,0.5),inset 10px 10px 15px rgba(70,70,70,0.12);transition:.5s;}
.selector_checkuno input:checked::after{transition:.5s;border:solid #15e38a;border-width:0 0.15em 0.15em 0;transform:rotate(45deg);}
.btn, .btn-default.active, .btn-default:active, .form-control, .open>.dropdown-toggle.btn-default{background-image:none;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;text-align:center;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;border-radius:3px;}
.btn-file{position:relative;overflow:hidden;}
.sun_img_innr{position:relative;display:table;height:calc(100% - 48px);}
.btn_add_product{display:block;text-align:center;width:100%;background-color:#3498db;color:#FAFAFA;}
#wo_main_sett_mid .wo_settings_page .text-center > .btn-mat{min-width:150px;margin:17px 0;}
button.close{-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0;}
/*** Progress bar ***/
.progress{width:100%;padding:6px;border-radius:3px;background:#ddd;}
.progress{margin-bottom:20px;margin-top:8px;overflow:hidden;position:relative;}
.progress #percent{display:flex;width:100%;z-index:2;position:relative;justify-content:center;color:#333}
.progress .progress-bar{height:100%;background:#1dd1a1;width:0%;left:0;position:absolute;top:0;}
span.product-list{position:absolute;color:#fff;background:rgb(255 83 83);padding:10px;border-radius:50%;right:17px;transition:all 0.2s;}
.btn_update_produc{position:absolute;color:#fff;background:rgb(255 192 83)!important;padding:8px;border-radius:50%!important;right:17px;transition:all 0.2s;}
.padddig_one_active_a{top:7px!important;}
.padddig_one_active_b{top:57px!important;}