*, *::before, *::after{margin:0;padding:0;box-sizing:inherit;}
*, ::after, ::before {box-sizing:border-box;}
@font-face {
  font-family: 'FormaDJRMicro-Regular';
  font-weight: 400;
  font-style: normal;
  src: url("FormaDJRMicro-Regular.woff2") format('woff2');
}
@font-face {
  font-family: 'FormaDJRMicro-Bold';
  font-weight: 700;
  font-style: normal;
  src: url("FormaDJRMicro-Bold.woff2") format('woff2');
}
body{background-color:#fff;color:#000;font-family: Open Sans,Arial,sans-serif;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
.h4, .h5, .h6, h4, h5, h6 {margin-top:7px;margin-bottom:10px;}
.h5, h5{font-size:14.5px;}
article, div, h1, h2, h3, h4, h5, p, span{word-wrap:break-word;}
svg:not(:root){overflow:hidden;}
dl, ol, ul{margin-top:0;}
ol, ul{list-style:none;}
svg.feather {
    vertical-align: middle;
    margin-top: -4px;
    width: 19px;
    height: 19px;
}
/*Load More*/
.load-more {margin: 8px 0;}
.load-more .btn {background: #ffffff;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);height: 36px;line-height: 36px;font-weight: 600;font-family: "Lato", sans-serif;border-radius: 2em;padding: 0 20px !important;position: relative;transition: all 0.15s;}
.load-more .btn:hover {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}

span.product-list{position:absolute;color:#fff;background:rgb(255 83 83);padding:10px;border-radius:50%;right:17px;transition:all 0.2s;}
.btn_update_produc{position:absolute;color:#fff;background:rgb(255 192 83)!important;padding:8px;border-radius:50%!important;right:17px;transition:all 0.2s;}
.padddig_one_active_a{top:7px!important;}
.padddig_one_active_b{top:57px!important;}
.hidden{display:none;}
.bold{font-weight:700!important;}
.pointer{cursor:pointer;}
.clear{clear:both;}
.pull-left{float:left;}
.pull-right{float:right!important;}
a{word-wrap:break-word;text-decoration:none;color:#666;}
.btn_layshane{width:100%;max-width:240px;height:4rem;border-radius:1rem;box-shadow:0.3rem 0.3rem 0.6rem var(--boton-fondo), -0.2rem -0.2rem 0.5rem var(--boton-color);justify-self:center;display:flex;align-items:center;justify-content:center;cursor:pointer;transition:0.3s ease;font-family:"Poppins", sans-serif;text-decoration:none;user-select:none;outline:none;cursor:pointer;}
.btn_dos{grid-column:1/2;grid-row:5/6;color:var(--boton-color);background:var(--boton-fondo);}
.btn_dos:hover{background:var(--boton-hover-fondo);color:var(--boton-hover-color );}
.btn_dos:active{box-shadow:inset 0.2rem 0.2rem 0.5rem var(--boton-fondo),inset -0.2rem -0.2rem 0.5rem var(--boton-color);}
.btn_layshane p{font-size:1.6rem;}
.nav{position:fixed;background-color:transparent;top:0;left:0;right:0;transition:all 0.3s ease-in-out;text-transform:uppercase;z-index:3;}
.nav .container{display:flex;justify-content:space-between;align-items:center;padding:30px 0;transition:all 0.3s ease-in-out;;}
.nav ul{display:flex;list-style-type:none;align-items:center;justify-content:center;}
.nav a{user-select:none;font-family:Open Sans,Arial,sans-serif;position:relative;color:var(--boton-color);text-decoration:none;padding:7px 15px;font-weight:300;transition:all 0.3s ease-in-out;;}
.nav *{font-size:14px;word-wrap:break-word;line-height:1em;position:relative;}
.nav a.current,.nav a:hover{color:var(--header-fondo);}
.nav a.current{font-weight:400;}
.nav a.current::before{content:"";width:50%;height:2px;background-color:var(--boton-fondo);position:absolute;bottom:-3px;left:50%;transform:translateX(-50%);transition:all 0.3s ease-in-out;}
.nav.active{background-color:var(--header-fondo);-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);box-shadow:0 1px 0 rgba(0,0,0,.1);}
.nav.active a.current::before{color:var(--boton-fondo)!important;}
.nav.active a.current{color:var(--boton-fondo);}
.nav.active a{color:var(--header-color);}
.nav.active .container{padding:10px 0;}
.container{max-width:1200px;margin:0 auto;padding:0 20px;}
.open>.notifications-dropdown .turn-off-sound span{color:#ff574b;padding:6px 16px;display:inline-block;background-color:rgb(244 67 54 / 10%);font-weight:500;font-family:"Roboto", sans-serif;font-size:12px!important;text-transform:initial!important;letter-spacing:0.4px;word-spacing:0.8px;margin:10px;border-radius:max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;cursor:pointer;vertical-align:middle;text-align:left;}
img{max-width:100%;}
#logo{width:auto;-webkit-transition:all 0.4s ease-in-out;margin-bottom:0;max-height:54%;display:inline-block;vertical-align:middle;-webkit-transform:translate3d(0, 0, 0);overflow-clip-margin:content-box;overflow:clip;}
.luis_menu_mobil{display:none;flex-direction:column;width:40px;height:30px;margin-right:25px;}

.luis_secctions_page{padding-top:110px;padding-right:0px;padding-bottom:110px;padding-left:0px;}
.luis_section_b{display:flex;flex-wrap:wrap;transition:border-radius 300ms ease 0ms;width:80%;margin:auto;padding:27px 0;max-width:1080px;}
.beneficio_s{width:calc(100% / 4);cursor:pointer;}
.beneficio_st{max-width:550px;margin:0 auto;position:relative;text-align:center;word-wrap:break-word;width:100%;cursor:pointer;}
.beneficio_st_content span{font-family:'Prata',Georgia,"Times New Roman",serif;font-size:18px;line-height:1.2em;color:#555;padding-bottom:10px;font-weight:500;}
.beneficio_st_img{display:inline-block;margin-bottom:30px;line-height:0;max-width:100%;}
.beneficio_st_img span img{border-radius:100px 100px 100px 100px;overflow:hidden;transition:border-radius 300ms ease 0ms;}

.luis_section_c{display: -webkit-box;display:-ms-flexbox;display:flex;padding-bottom:2%;position:relative;min-height:187.2px;padding:27px 0;}
.luis_section_c_a{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;width:60%;padding-top:80px;padding-right:8vw;padding-bottom:40px;padding-left:8vw;}
.luis_section_c_b{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;width:40%;}
.luis_section_c_bj{display:block;}
.luis_section_c_bj_img{display:inline-block;border-radius:0 0 14vw 0;overflow:hidden;position:relative;max-width:100%;}
.luis_section_c_bj_img img{position:relative;max-width:100%;height:auto;}.luis_section_c_as{max-width:600px;margin-left:auto;margin-right:auto;}
.luis_section_c_a span{font-weight:700;text-transform:uppercase;font-size:14px;letter-spacing:5px;line-height:1.8em;color:#333;}
.luis_section_c_as h2{ont-family:'Prata',Georgia,"Times New Roman",serif;font-size:50px;line-height:1.4em;font-weight:500;color:#333;}
.luis_section_c_as p{color:#333;font-size:14px;line-height: 2em;font-family:Helvetica,Arial,Lucida,sans-serif;word-wrap:break-word;font-weight:100;}
.section_publicaction{padding:54px 0;}
.publicacion_br{padding-top:40px;padding-bottom:40px;width:80%;max-width:1080px;margin:auto;position:relative;display:flex;flex-wrap:wrap;}
.publicacion_br:nth-child(even){flex-direction:row-reverse;}
.publicacion_br:nth-child(odd) .columna_imagen{width:36.7%;}
.publicacion_br:nth-child(even) .columna_imagen{width:29.6667%;margin-right:0;}
.publicacion_br:nth-child(even) .columna_imagen span{border-radius:0 100px 0 0;}
.columna_imagen{margin-right:5.5%;mix-blend-mode:unset!important;}
.columna_imagen span{border-radius:100px 0 0 0;overflow:hidden;display:inline-block;position: relative;max-width:100%;}
.columna_imagen span img{position:relative;max-width:100%;height:auto;}
.columna_texto{font-family:'Open Sans',Helvetica,Arial,Lucida,sans-serif;line-height:2em;max-width:600px;word-wrap:break-word;}
.columna_texto h2{font-family:'Prata',Georgia,"Times New Roman",serif;font-size:50px;line-height:1.4em;font-weight:500;color:#333;padding-bottom:10px;word-wrap:break-word;}
.columna_texto p{color:#333;font-size:14px;font-weight:400;}
.publicacion_br:nth-child(odd) .columna_texto{margin-right:0;width:57.8%;}
.publicacion_br:nth-child(even) .columna_texto{margin-right:auto;width:64.833%;}
.publicacion_br:nth-last-child(1){padding: 27px 0;}
.section_portada_two{position:relative;background-image:linear-gradient(200deg,rgba(0,0,0,0) 62%,rgba(22,29,67,0.3) 100%)!important;padding-top:0px;padding-bottom:0px;border-radius:0 0 0 16vw;background-color:#fff;background-position:50%;background-size:100%;background-size:cover;background-repeat:no-repeat;overflow:hidden;}
.section_portada_two .cpl_contenido_wrap{border-radius:0 0 0 16vw;overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;}
.cpl_contenido_bg{background-repeat:no-repeat;background-position:left;background-size:contain;position:absolute;bottom:0;left:0;width:100%;height:100%;display:block;}
.text_contentdata_presetwo{width:100%;max-width:100%;padding:0;align-items:flex-start;background-size:cover;background-position:50%;background-repeat:no-repeat;margin:auto;position:relative;}
.col_data_hp{float:left;}
.columnna_p_et_prestwo,
.columnna_p_er_prestwo{box-sizing:border-box;width:50%;}
.col_data_hp:after, .col_data_hp_inner:after{content:"";display:block;clear:both;visibility:hidden;line-height:0;height:0;width:0;}
.columnna_p_et_prestwo{background-color:#ffffff;}
.columnna_p_er_prestwo{padding:2.855% 0;}
.columnna_p_er_prestwo_a{height:300px;box-sizing:content-box;margin-bottom:0;margin-top:0;position:relative;} 
.columnna_p_er_prestwo_a:after{content:"";display:table;}
.columnna_p_er_prestwo_a_do{width:100%;display:inline-block;}
.columnna_p_et_prestwo_one{position:relative;padding-top:10vw!important;padding-right:80px!important;padding-bottom:10vw!important;padding-left:80px!important;width:100%;}
.columnna_p_et_prestwo_two{position:relative;width:100%;padding-top:0px!important;padding-right:0px!important;padding-bottom:0px!important;padding-left:0px!important;}
.columnna_p_et_prestwo_one_1{width:100%;}
.columnna_p_et_prestwo_one_1_a{max-width:600px;font-family:'Open Sans',Helvetica,Arial,Lucida,sans-serif;line-height:2em;word-wrap:break-word;text-align:left;margin-right:auto;margin-left:auto;margin-bottom:0;color:#333;}
.columnna_p_et_prestwo_one_1_a span{font-family:'Open Sans',Helvetica,Arial,Lucida,sans-serif;font-weight:700;text-transform:uppercase;letter-spacing:5px;line-height:1.6em;font-size:14px;padding-bottom:10px;}
.columnna_p_et_prestwo_one_1_a h1{font-family:'Prata',Georgia,"Times New Roman",serif;font-size:100px;line-height:1.4em;padding-bottom:10px;font-weight:500;}
.butt_conten_col{float:left;padding:0.3em 1em;line-height:1.7em!important;background-size:cover;background-position:50%;background-repeat:no-repeat;transition-property:all!important;}
.butt_conten_col{width:50%;margin-right:0;transition:all .5s;}
div.butt_conten_col.butt_conten_col_a{text-align:center;background-color:#85470F;}
div.butt_conten_col.butt_conten_col_a a{text-decoration:none;color:#fff;border-width:0px!important;letter-spacing:5px;font-size:14px;font-family:'Open Sans',Helvetica,Arial,Lucida,sans-serif!important;font-weight:700!important;text-transform:uppercase!important;background-color:rgba(0,0,0,0);padding-top:100px!important;padding-bottom:100px!important;display:inline-block;transition:all 300ms ease 0ms;position:relative;}
div.butt_conten_col.butt_conten_col_b{text-align:center;background-color:#161d43;}
div.butt_conten_col.butt_conten_col_b a{color:#fff;border-width:0px!important;letter-spacing:5px;font-size:14px;font-family:'Open Sans',Helvetica,Arial,Lucida,sans-serif!important;font-weight:700!important;text-decoration:none;text-transform:uppercase!important;background-color:rgba(0,0,0,0);padding-top:100px!important;padding-bottom:100px!important;display:inline-block;}
div.butt_conten_col.butt_conten_col_a:hover,.butt_conten_col.butt_conten_col_b:hover{opacity:.7;}

.row:after,.row:before{display:table;content:" ";word-wrap:break-word;box-sizing:border-box;}
.row:after{clear:both;}
.header_servicios_page{background-image:linear-gradient(200deg,rgba(0,0,0,0) 62%,rgba(22,29,67,0.3) 100%)!important;padding-top:10vw;padding-right:10vw;padding-bottom:0px;padding-left:0px;border-radius:0 0 0 16vw;overflow:hidden;position:relative;background-color:#fff;background-position:50%;background-size:100%;background-size:cover;}
.head_cont_servicios_wrap{overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;}
.head_cont_servicios_bg{background-repeat:no-repeat;background-position:top;background-size:cover;position:absolute;bottom:0;left:0;width:100%;height:100%;display:block;}
.head_cont_servicios_row{margin:auto;display:flex;width:100%;max-width:100%;background-size:cover;background-position:50%;background-repeat:no-repeat;background-image:linear-gradient(90deg,rgba(255,255,255,0.4) 70%,rgba(255,255,255,0.88) 100%);border-radius:0 10vw 0 0;
    overflow:hidden;padding-top:0px!important;padding-bottom:0px!important;margin-left:0px!important;margin-right:auto!important;position:relative;animation-duration:1000ms;animation-delay:0ms;animation-timing-function:ease-in-out;animation-name:animu;}
@keyframes animu {
  0%{opacity:0;transform:translate3d(-10%, 0px, 0px);}
  100%{opacity:1;transform:translate3d(0, 0px, 0px);}
}
.head_cont_servicios_row:after{content:"";display:block;clear:both;visibility:hidden;line-height:0;height:0;width:0;}
.head_cont_servicios_colum{margin-right:0;width:75%;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;padding-top:80px;padding-right:40px;padding-bottom:80px;padding-left:10vw;}
.head_cont_servicios_columb{mix-blend-mode:unset!important;float:left;background-size:cover;background-position:50%;background-repeat:no-repeat;width:25%;margin-right:0!important;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;}
.ser_ser_col_text h6{color:#fff;font-size:14px;font-family:'Open Sans',Helvetica,Arial,Lucida,sans-serif;font-weight:700;text-transform:uppercase;letter-spacing:5px;line-height:1.6em;text-shadow:0em 0em 3em rgba(22,29,67,0.24);word-wrap:break-word;text-align:left;}
.ser_ser_col_text h1{font-family:'Prata',Georgia,"Times New Roman",serif;font-size:100px;line-height:1.4em;padding-bottom:10px;font-weight:500;text-align:left;text-shadow:0em 0em 3em rgba(22,29,67,0.24);word-wrap:break-word;color:#fff;}

footer{display:flex;position:relative;align-self:flex-end;align-items:flex-end;width:100%;background:transparent;}
body{min-height:calc(100vh - 72px);display:flex;flex-wrap:wrap;}
.luis_contenedor{width:100%;align-self:flex-start;}
.contenido_footer{width:100%;padding:15px;position:relative;font-size:14px;font-family:Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;}
.contenido_footer hr{width:100%;border-color:#e9e9e9;margin-bottom:15px!important;border-top:1px solid #f4f4f4;height:0;}
.footer-powered{display:flex;align-items:center;justify-content:space-between;color:#858585;}
.list-inline>li{display:inline-block;padding-right:5px;padding-left:5px;}
.list-inline>li a{text-decoration:none;color:#666;padding:10px}

.wo_settings_page{background-color:#fff;box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);border-radius:max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;padding:15px 20px;margin-bottom:20px;}
.wo_settings_page .avatar-holder{font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;margin:5px 0 0;border-radius:max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;padding:20px 20px;position:relative;display:flex;align-items:center;background-color:rgb(0 0 0 / 4%);word-wrap:break-word;justify-content:space-between;}
.boton_add_nluiss{vertical-align:middle;display:flex;border:2px solid;justify-content:center;align-items:center;}
.boton_add_nluis{position:relative;margin:0 4px;font-size:16px;font-weight:500;letter-spacing:1px;border-radius:5px;text-transform:uppercase;border:1px solid transparent;outline:none;cursor:pointer;background:#FAFAFA;overflow:hidden;transition:0.6s;color:#206592;border-color:#206592;padding:5px 10px;}
.boton_add_nluis:before, .boton_add_nluis:after{position:absolute;content:'';left:0;top:0;height:100%;filter:blur(30px);opacity:0.4;transition:0.6s;}
.boton_add_nluis:before{width:60px;background:rgba(255,255,255,0.6);transform:translateX(-130px) skewX(-45deg);}
.boton_add_nluis:after{width:30px;background:rgba(255,255,255,0.6);transform:translateX(-130px) skewX(-45deg);}
.boton_add_nluis:hover:before,
.boton_add_nluis:hover:after{opacity:0.6;transform:translateX(320px) skewX(-45deg);}
.boton_add_nluis:hover{background:#206592;color:#f2f2f2;}
.white{color:#fff;}
@media only screen and (max-width: 1500px){
	.columna-x4{width:50%!important;float:left;}
}
@media only screen and (max-width: 1100px){
	.cpl_contenido_bg{background-position:left;background-size:contain;left:-100px!important;}
}
@media only screen and (max-width: 1000px){
	.luis_section_c_a{padding-top:0;}
	.section_portada_two>.text_contentdata_presetwo{padding:0;}
	.section_portada_two>.text_contentdata_presetwo .col_data_hp{padding-bottom:0;margin-bottom:0;}
	.col_data_hp{width:100%;background-size:cover;background-position:100%;background-repeat:no-repeat;}
	.columnna_p_er_prestwo_a{box-sizing:content-box!important;}
	.columnna_p_et_prestwo_one{padding-right:10px!important;padding-left:10px!important;}
	.columnna_p_et_prestwo_one_1_a h1{font-size:48px;}
	.columnna_p_et_prestwo_two{margin:0!important}
	.cpl_contenido_bg{background-position:top;background-size:cover;left:0!important;}
	.butt_conten_col{width:100%!important;}
	.butt_conten_col_a{margin-bottom:0;}
	div.butt_conten_col.butt_conten_col_a a,div.butt_conten_col.butt_conten_col_b a{padding-top:30px!important;padding-bottom:30px!important;}
}
.columna_lg_4,.columna-3,.columna-4,.columna-6,.columna-8,.columna-12,.columna_sm-4,.columna_xs-6{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    word-wrap:break-word;
}
@media only screen and (max-width: 880px){
	.beneficio_s{width:calc(100% / 2);}
	.luis_section_c{display:block;}
	.luis_section_c_b{width:100%;}
	.luis_section_c_a{width:100%;padding-right:0!important;padding-left:0!important;}

	.section_publicaction .publicacion_br{display:block;}
	.section_publicaction .publicacion_br .columna_texto,
	.section_publicaction .publicacion_br .columna_imagen{width:100%!important;margin-right:0!important;}
}
@media only screen and (max-width: 750px){
	.columna-x4{
  	width:100%!important;
  }
}
@media only screen and (max-width: 621px){
	.header_servicios_page{padding-top:0;padding-right:0;}
	.head_cont_servicios_colum{width:100%;}
	.head_cont_servicios_columb{width:0;}
	.head_cont_servicios_row{border-radius:0;}
	.luis_section_c_as{padding:10px;}
}
@media only screen and (max-width: 581px){
	.contenido_sevicios{flex-wrap:wrap;margin-bottom:120px;}
	.sevicios_columnas{width:100%;}
	.sevicios_columnas{width:100%;padding:30px 10px;}
	.luis_col_child_text h1{font-size: 40px;}
	.luis_menu_six{transition:all .5s;}
	.luis_menu_mobil{display:flex;justify-content:center;cursor:pointer;z-index:2;vertical-align:middle;height:100%;color:var(--header-fondo);margin-left:13px;}
	.luis_menu_mobil .menu_mobil_line{width:100%;font-size:0;transition:all .5s;opacity:0;background:var(--header-color);position:absolute;}
	.luis_menu_mobil svg{width:50px;height:50px;vertical-align:middle;cursor:pointer;}
	.nav ul.luis_menu_mobil_container{flex-direction:column;justify-content:flex-start;position:fixed;top:0;left:-100%;bottom:0;background:#fff;z-index:10;width:80%;box-sizing:border-box;}
	.activadomenumobil{display:flex;-webkit-animation:slide 5s forwards;animation: slide 1s forwards;padding-left:20px;}
	.activadomenumobil li a{color:var(--header-color)!important;}
	.nav ul.luis_menu_mobil_container li{width:100%;}
	.nav ul.luis_menu_mobil_container li a{width:100%;padding:22px 15px;max-width:100%;border-bottom:1px solid #FAFAFA;display:block;}
	.nav ul.luis_menu_mobil_container li a.current::before{bottom:0px;width:100%;}
	.luis_menu_mobil.avtive_option_mob{border-color:transparent!important;}
	.luis_menu_mobil.avtive_option_mob svg{visibility:hidden;}
	.luis_menu_mobil .menu_mobil_line.activadomenu{opacity:1;position:relative;font-family:fantasy;height:35px;font-size:57px;background:transparent!important;color:#fff;position:absolute;top:0;}
	.luis_menu_mobil .menu_mobil_line.activadomenu svg{visibility:visible!important;fill:#fff!important;}
	.nav.active .luis_menu_mobil svg{fill:var(--header-color);}
	.hover_menu_mobil{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;background:rgba(0, 0, 0, 0.5);z-index:1;}
	.beneficio_s{width:100%;}
	@keyframes slide {
		0% { left: -100%; }
	    100% { left: 0; }
	}
}
.columna_xs-6 {
    width: 50%;
    float:left;
}
@media (min-width: 768px){
	.columna_sm-4{
		float:left;
	  width:33.33333333%;
	}
}
@media (min-width: 992px){
	.columna-3{
		width:25%;
		float:left;
	}
	.columna-4{
    width:33.33333333%;
    padding-left:0;
    float:left;
  }
  .columna-6{
    width:50%;
    float:left;
  }
	.columna-8{
    width:66.66666667%;
    float:left;
  }
  .columna-12{
  	width:100%;
  	float:left;
  }
}

@media only screen and (min-width: 981px){
	#logo{max-height: 64%;}
}

@media (min-width: 1200px) {
  .columna_lg_1,.columna_lg_10,.columna_lg_11,.columna_lg_12,.columna_lg_2,.columna_lg_3,.columna_lg_4,.columna_lg_5,.columna_lg_6,.columna_lg_7,.columna_lg_8,.columna_lg_9 {
    float:left
  }
  .columna_lg_4 {
    width: 33.33333333%
  }
}